<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="msMember">
            <h1 class="mt-5" jhiTranslate="gatewayApp.msUserServiceMSMember.detail.title">Member details</h1>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <dl class="jh-entity-details">
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.salesforceId">Salesforce Id</dt>
                    <dd class="col-md-9">
                        {{msMember.salesforceId}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.parentSalesforceId">Parent Salesforce Id</dt>
                    <dd class="col-md-9">
                        {{msMember.parentSalesforceId}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.clientName">Member Name</dt>
                    <dd class="col-md-9">
                        {{msMember.clientName}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.clientId">Client ID</dt>
                    <dd class="col-md-9">
                        {{msMember.clientId}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.isConsortiumLead">Is Consortium Lead</dt>
                    <dd class="col-md-9">
                        <span class="sr-only">{{msMember.isConsortiumLead}}</span>
                        <fa-icon aria-hidden="true" *ngIf="msMember.isConsortiumLead" [icon]="faCheckCircle" [styles]="{'color': '#28a745'}"></fa-icon>
                        <fa-icon aria-hidden="true" *ngIf="!msMember.isConsortiumLead" [icon]="faTimesCircle" [styles]="{'color': '#f22112'}"></fa-icon>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.assertionServiceEnabled">Assertion Service Enabled</dt>
                    <dd class="col-md-9">
                        <span class="sr-only">{{msMember.assertionServiceEnabled}}</span>
                        <fa-icon aria-hidden="true" *ngIf="msMember.assertionServiceEnabled" [icon]="faCheckCircle" [styles]="{'color': '#28a745'}"></fa-icon>
                        <fa-icon aria-hidden="true" *ngIf="!msMember.assertionServiceEnabled" [icon]="faTimesCircle" [styles]="{'color': '#f22112'}"></fa-icon>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.createdDate">Created Date</dt>
                    <dd class="col-md-9">
                        {{msMember.createdDate}} <i><span jhiTranslate="global.by">by</span> {{msMember.createdBy}}</i>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.msUserServiceMSMember.lastModifiedDate">Last Modified Date</dt>
                    <dd class="col-md-9">
                        {{msMember.lastModifiedDate}} <i><span jhiTranslate="global.by">by</span> {{msMember.lastModifiedBy}}</i>
                    </dd>
                </dl>
            </div>
            <hr>
            <div>
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-outline-primary
                        ">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
                <button type="button"
                        [routerLink]="['/ms-member', msMember.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
