<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h1 id="jhi-ms-member-heading" class="mt-5" jhiTranslate="gatewayApp.msUserServiceMSMember.home.createOrEditLabel">Add or edit member</h1>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSMember.salesforceId" for="field_salesforceId">Salesforce Id</label>
                    <input type="text" class="form-control" name="salesforceId" id="field_salesforceId"
                           formControlName="salesforceId"/>
                    <div *ngIf="editForm.get('salesforceId').invalid && (editForm.get('salesforceId').dirty || editForm.get('salesforceId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('salesforceId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSMember.parentSalesforceId" for="field_parentSalesforceId">Parent Salesforce Id</label>
                    <input type="text" class="form-control" name="parentSalesforceId" id="field_parentSalesforceId"
                           formControlName="parentSalesforceId"/>
                    <div *ngIf="(editForm.get('isConsortiumLead').dirty || editForm.get('isConsortiumLead').touched || editForm.get('parentSalesforceId').dirty || editForm.get('parentSalesforceId').touched)">
                        <small class="form-text text-danger" *ngIf="(editForm.get('parentSalesforceId').value == null && !editForm.get('isConsortiumLead').value)
                    	|| ((editForm.get('parentSalesforceId').value == null || editForm.get('parentSalesforceId').value == '') && !editForm.get('isConsortiumLead').value)">
                        This field is required.
                        </small>
                    </div>


                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSMember.clientName" for="field_clientName">Member Name</label>
                    <input type="text" class="form-control" name="clientName" id="field_clientName"
                           formControlName="clientName"/>
                     <div *ngIf="editForm.get('clientName').invalid && (editForm.get('clientName').dirty || editForm.get('clientName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clientName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSMember.clientId" for="field_clientId">Client ID</label>
                    <input type="text" class="form-control" name="clientId" id="field_clientId"
                           formControlName="clientId"/>
                    <div *ngIf="editForm.get('clientId').invalid && (editForm.get('clientId').dirty || editForm.get('clientId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clientId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSMember.isConsortiumLead" for="field_isConsortiumLead">Is Consortium Lead</label>
                    <input type="checkbox" class="form-control" name="isConsortiumLead" id="field_isConsortiumLead"
                           formControlName="isConsortiumLead"/>
                    <div *ngIf="editForm.get('isConsortiumLead').invalid && (editForm.get('isConsortiumLead').dirty || editForm.get('isConsortiumLead').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('isConsortiumLead').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSMember.assertionServiceEnabled" for="field_assertionServiceEnabled">Assertion Service Enabled</label>
                    <input type="checkbox" class="form-control" name="assertionServiceEnabled" id="field_assertionServiceEnabled"
                           formControlName="assertionServiceEnabled"/>
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="cancel-save" class="btn btn-outline-primary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
