<h1 class="mt-3" i18n="@@gatewayApp.msUserServiceMSApiCredentials.home.title.string">Manage API credentials</h1>

<!-- Production -->
<section class="mt-4">
  <h2 i18n="@@apiCredentials.production.heading.string">Production</h2>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary mr-2" i18n="@@apiCredentials.production.applyNew.string">
      <fa-icon [icon]="faEnvelope" class="mr-1"></fa-icon>
      Apply for new Production credentials
    </button>
    <button class="btn btn-outline-primary" i18n="@@apiCredentials.production.applyAffiliation.string">
      <fa-icon [icon]="faEnvelope" class="mr-1"></fa-icon>
      Apply for Affiliation Manager credentials
    </button>
  </div>

  <table class="table table-striped credentials-table">
    <thead>
      <tr>
        <th class="col-client-name" i18n="@@apiCredentials.table.clientName.string">Client name</th>
        <th i18n="@@apiCredentials.table.clientId.string">Client ID</th>
        <th style="width: 1%; white-space: nowrap"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="productionCredentials.length === 0">
        <td colspan="3" class="text-center" i18n="@@apiCredentials.production.noCredentials.string">No production credentials found.</td>
      </tr>
      <tr *ngFor="let credential of productionCredentials">
        <td><strong>{{ credential.clientName }}</strong></td>
        <td>{{ credential.clientId }}</td>
        <td class="text-right" style="white-space: nowrap">
          <button *ngIf="credential.editable" class="btn btn-primary btn-sm" i18n="@@entity.action.edit.string">
            <fa-icon [icon]="faPencilAlt" class="mr-1"></fa-icon>
            Edit
          </button>
          <button *ngIf="!credential.editable" class="btn btn-outline-primary btn-sm" i18n="@@apiCredentials.action.requestChanges.string">
            <fa-icon [icon]="faEnvelope" class="mr-1"></fa-icon>
            Request changes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Sandbox -->
<section class="mt-4">
  <h2 i18n="@@apiCredentials.sandbox.heading.string">Sandbox</h2>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary mr-2" i18n="@@apiCredentials.sandbox.addNew.string">
      <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
      Add new Sandbox client
    </button>
    <button class="btn btn-outline-primary" i18n="@@apiCredentials.sandbox.requestReview.string">
      <fa-icon [icon]="faEnvelope" class="mr-1"></fa-icon>
      Request integration review
    </button>
  </div>

  <table class="table table-striped credentials-table">
    <thead>
      <tr>
        <th class="col-client-name" i18n="@@apiCredentials.table.clientName.string">Client name</th>
        <th i18n="@@apiCredentials.table.clientId.string">Client ID</th>
        <th style="width: 1%; white-space: nowrap"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="sandboxCredentials.length === 0">
        <td colspan="3" class="text-center" i18n="@@apiCredentials.sandbox.noCredentials.string">No sandbox credentials found.</td>
      </tr>
      <tr *ngFor="let credential of sandboxCredentials">
        <td><strong>{{ credential.clientName }}</strong></td>
        <td>{{ credential.clientId }}</td>
        <td class="text-right" style="white-space: nowrap">
          <button class="btn btn-primary btn-sm" i18n="@@entity.action.edit.string">
            <fa-icon [icon]="faPencilAlt" class="mr-1"></fa-icon>
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<router-outlet name="popup"></router-outlet>
