@use '../../../content/scss/bootstrap-variables' as global;

.side-bar {
  max-width: 250px;
  height: 100%;
  padding: 20px 22px 20px 20px;
  flex: 1;
  background-color: global.$gray-2;
  border-right: 2px solid #eeeeee;
}
.main-section {
  flex: 1;
  padding: 20px 40px 20px 40px;
}
.side-bar-subsection {
  div {
    font-size: 0.9rem;
  }
  a {
    font-weight: normal;
  }
  word-wrap: break-word;
}
.main-contacts {
  font-size: 0.9rem;
}
.main-section-empty-description {
  color: global.$black-transparent;
}

.main-section-description {
  line-height: 21px;
}

.logo-container {
  img {
    width: 200px;
    height: auto;
    align-self: center;
  }
  width: 208px;
  height: 208px;
  display: flex;
  justify-content: center;
}
h6 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
h5 {
  font-weight: bold;
}

.contact {
  > div,
  h3 {
    width: 10%;
    text-align: left;
    flex-grow: 1;
    max-width: 200px;
    font-size: 0.9rem;
    align-self: center;
    margin-bottom: 0px;
  }
  word-wrap: break-word;
}

.edit-button {
  &:active {
    color: black !important;
    background-color: white !important;
  }
  background: #ffffff;
  border: 1px solid #a6ce39;
  border-radius: 5px;
  color: black;
  padding: 12px 16px;
}

.add-new-contact-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -3px;
}

.contacts-edit-column {
  max-width: 8% !important;
}

h1 {
  line-height: 60px;
}

h2 {
  line-height: 27px;
}

h3 {
  line-height: 21px;
}
