<div class="d-flex h-100">
  <div *ngIf="memberData" class="side-bar">
    <!-- SIDEBAR -->

    <div class="logo-container mb-40">
      <img src="{{ memberData.logoUrl }}" onerror="this.src='../content/images/member-logo-placeholder.svg'" alt="Member logo" />
    </div>
    <div *ngIf="isActive()">
      <!-- PUBLIC DETAILS -->

      <div class="mb-40">
        <h2 class="mb-10 font-size-18">Public details</h2>
        <hr class="mt-0 mb-10" />
        <div class="mb-20 side-bar-subsection">
          <h3 class="font-size-14 wide-text-25">Website</h3>
          <div *ngIf="memberData.website">
            <a href="{{ memberData.website }}">{{ memberData.website }}</a>
          </div>
          <div *ngIf="!memberData.website" class="color-gray">No website added</div>
        </div>
        <div class="mb-20 side-bar-subsection">
          <h3 class="font-size-14 wide-text-25">Email</h3>
          <div *ngIf="memberData.publicDisplayEmail">
            <a href="mailto:{{ memberData.publicDisplayEmail }}">{{ memberData.publicDisplayEmail }}</a>
          </div>
          <div *ngIf="!memberData.publicDisplayEmail" class="color-gray">No email added</div>
        </div>
      </div>

      <!-- IDENTIFIERS -->

      <div *ngIf="memberData.orgIds">
        <h2 class="mb-10 font-size-18">Identifiers</h2>

        <hr class="mt-0 mb-10" />
        <div class="mb-20 side-bar-subsection" *ngIf="memberData.orgIds && memberData.orgIds['ROR'].length > 0">
          <h3 class="font-size-14 wide-text-25">ROR</h3>
          <div *ngFor="let id of memberData.orgIds['ROR']">
            <a href="{{ id }}">{{ id }}</a>
          </div>
        </div>
        <div class="mb-20 side-bar-subsection" *ngIf="memberData.orgIds && memberData.orgIds['GRID'].length > 0">
          <h3 class="font-size-14 wide-text-25">GRID</h3>
          <div *ngFor="let id of memberData.orgIds['GRID']">
            {{ id }}
          </div>
        </div>
        <div class="mb-20 side-bar-subsection" *ngIf="memberData.orgIds && memberData.orgIds['Ringgold'].length > 0">
          <h3 class="font-size-14 wide-text-25">Ringgold ID</h3>
          <div *ngFor="let id of memberData.orgIds['Ringgold']">
            {{ id }}
          </div>
        </div>
        <div class="mb-20 side-bar-subsection" *ngIf="memberData.orgIds && memberData.orgIds['Fundref'].length > 0">
          <h3 class="font-size-14 wide-text-25">Crossref Funder ID</h3>
          <div *ngFor="let id of memberData.orgIds['Fundref']">
            <a href="{{ id }}">{{ filterCRFID(id) }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="memberData" class="main-section">
    <div *ngIf="!memberData.isConsortiumLead">
      <div *ngIf="memberData.consortiumLeadName">
        <div class="row d-flex ml-0 font-size-14">
          <div class="font-weight-bold mr-1">Consortium/Parent organization:</div>
          <div *ngIf="!managedMember">
            {{ memberData.consortiumLeadName }}
          </div>
          <div *ngIf="managedMember">
            <a routerLink="/" class="font-weight-normal" (click)="stopManagingMember()">
              {{ memberData.consortiumLeadName }}
            </a>
          </div>
        </div>
        <hr />
      </div>
      <div class="row d-flex ml-0 font-size-14">
        <div class="font-weight-bold mr-1">Membership:</div>
        <div *ngIf="isActive()" style="color:#7FAA26;">
          Active
        </div>
        <div *ngIf="!isActive()" style="color:#D32F2F;">
          Inactive
        </div>
      </div>
    </div>
    <div *ngIf="memberData.isConsortiumLead">
      <div class="row d-flex ml-0">
        <div class="font-weight-bold mr-1">Consortium lead</div>
      </div>
      <hr />
    </div>

    <!-- ORG NAME & EDIT ORGANIZATION-->

    <div
      class="row ml-0 mt-3 d-flex align-items-center justify-content-between"
      [ngClass]="{ 'mb-8': memberData.publicDisplayEmail === memberData.name, 'mb-16': memberData.publicDisplayEmail !== memberData.name }"
    >
      <h1 class="mb-0 font-weight-bold wide-text">{{ memberData.name }}</h1>
      <button class="btn btn-primary edit-button mr-3 wide-text-25 font-size-14" routerLink="/edit">Edit Organization</button>
    </div>
    <div *ngIf="memberData.name !== memberData.publicDisplayName" class="mb-16">
      <div class="color-gray font-size-12 wide-text">Public display name</div>
      <div class="font-weight-bold">{{ memberData.publicDisplayName }}</div>
    </div>
    <div *ngIf="!isActive()">
      Your ORCID membership is currently inactive. Please contact your consortium lead or ORCID to reinstate your membership.
    </div>
    <div *ngIf="isActive()">
      <!-- DESCRIPTION -->

      <div class="row ml-0 mb-40">
        <div
          class="main-section-description wide-text-25 font-size-14"
          *ngIf="memberData.publicDisplayDescriptionHtml"
          [innerHTML]="memberData.publicDisplayDescriptionHtml"
        ></div>
        <div class="main-section-empty-description" *ngIf="!memberData.publicDisplayDescriptionHtml">No organisation description added</div>
      </div>

      <!-- BILLING ADDRESS -->

      <div *ngIf="memberData.billingAddress" class="mb-40">
        <h2 class="mb-10 font-size-18">Billing address</h2>
        <div class="font-size-14 wide-text-25">
          {{ memberData.billingAddress.street ? memberData.billingAddress.street + ', ' : '' }}
          {{ memberData.billingAddress.city ? memberData.billingAddress.city + ', ' : '' }}
          {{ memberData.billingAddress.state ? memberData.billingAddress.state + ', ' : '' }}
          {{ memberData.billingAddress.postalCode ? memberData.billingAddress.postalCode + ', ' : '' }}
          {{ memberData.billingAddress.country }}
        </div>
      </div>

      <!-- TRADEMARK LICENSE -->

      <div class="mb-40">
        <h2 class="mb-10 font-size-18">Trademark license</h2>
        <div *ngIf="memberData.trademarkLicense && memberData.trademarkLicense === 'Yes'" class="font-size-14 wide-text-25">
          <svg class="mr-2 license-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#A6CE39" />
            <path d="M7.12879 12.6618L10.6164 16.7117L16.709 6.57626" stroke="white" stroke-width="3" stroke-linecap="round" />
          </svg>
          <span class="font-weight-bold">YES</span> - ORCID can use trademarked assets
        </div>
        <div *ngIf="!memberData.trademarkLicense || memberData.trademarkLicense === 'No'" class="font-size-14 wide-text-25">
          <svg class="mr-2 license-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM2 10C2 5.58 5.58 2 10 2C11.85 2 13.55 2.63 14.9 3.69L3.69 14.9C2.63 13.55 2 11.85 2 10ZM10 18C8.15 18 6.45 17.37 5.1 16.31L16.31 5.1C17.37 6.45 18 8.15 18 10C18 14.42 14.42 18 10 18Z"
              fill="#D32F2F"
            />
          </svg>
          <span class="font-weight-bold">NO</span> - ORCID cannot use this organization's trademarked name and logos
        </div>
      </div>

      <!-- CONTACTS -->

      <div class="mb-40">
        <h2 class="mb-16 font-size-18">Contacts</h2>
        <a routerLink="/contact/new" class="mb-20 font-weight-normal font-size-14 d-block">
          <img src="../../../content/images/plus-circle.svg" class="add-new-contact-icon mr-1" alt="Add new" />
          <span>Add a new contact</span>
        </a>
        <div *ngIf="memberData.contacts" >
          <div class="row ml-0 d-flex justify-content-between contact">
            <h3 class="font-size-14 wide-text-25">Name</h3>
            <h3 class="font-size-14 wide-text-25">Member roles</h3>
            <h3 class="font-size-14 wide-text-25">Email</h3>
            <h3 class="font-size-14 wide-text-25">Phone</h3>
            <h3 class="font-size-14 wide-text-25 contacts-edit-column"></h3>
          </div>
          <hr class="green-hr mb-0" />
          <ul class="ml-0 pl-0 mb-0" *ngFor="let contact of memberData.contacts; let i = index">
            <li class="row ml-0 pb-16 pt-16 d-flex justify-content-between contact">
              <div>
                <div>{{ contact.name }}</div>
                <div class="color-gray font-size-12">{{ contact.title }}</div>
              </div>
              <div>{{ contact.memberOrgRole.join(', ') }}</div>
              <div>
                <a class="font-weight-normal" href="mailto:{{ contact.contactEmail }}">{{ contact.contactEmail }}</a>
              </div>
              <div *ngIf="contact.phone">
                {{ contact.phone }}
              </div>
              <div *ngIf="!contact.phone">
                -
              </div>
              <div class="contacts-edit-column">
                <a routerLink="/contact/{{ contact.contactEmail }}/edit" class="font-weight-normal">
                  <fa-icon [icon]="'pencil-alt'"></fa-icon>
                  Edit
                </a>
              </div>
            </li>
            <hr *ngIf="i + 1 < memberData.contacts.length" class="mt-0 mb-0" />
          </ul>
        </div>
      </div>

      <!-- CONSORTIUM MEMBERS -->

      <div *ngIf="memberData.isConsortiumLead">
        <h2 class="mb-16 font-size-18">
          Consortium Members
          <span class="font-weight-normal">({{ memberData.consortiumMembers.length }})</span>
        </h2>
        <a routerLink="/consortium-member/new" class="mb-20 font-weight-normal font-size-14 d-block">
          <img src="../../../content/images/plus-circle.svg" class="add-new-contact-icon mr-1" alt="Add new" />
          <span>Add new consortium member</span>
        </a>
        <h3 class="font-size-14 wide-text-25">Member name</h3>
        <hr class="green-hr mb-0" />
        <div *ngFor="let consortiumMember of memberData.consortiumMembers; let i = index">
          <div class="pt-16 pb-16">
            <a routerLink="/manage/{{ consortiumMember.salesforceId }}" class="font-size-14 font-weight-normal">{{
              consortiumMember.orgName
            }}</a>
            <a routerLink="consortium-member/{{ consortiumMember.salesforceId }}/remove"
              ><fa-icon [icon]="'trash-alt'" class="float-right"></fa-icon
            ></a>
          </div>
          <hr *ngIf="i + 1 < memberData.consortiumMembers.length" class="mt-0 mb-0" />
        </div>
      </div>
    </div>
  </div>
</div>
