@use '../../../content/scss/bootstrap-variables' as global;

$color_1: rgba(0, 0, 0, 0.6);
$background-color_1: #fafafa;

.side-bar {
  max-width: 250px;
  height: 100%;
  padding: 20px 22px 20px 20px;
  flex: 1;
  background-color: $background-color_1;
  border-right: 2px solid #eeeeee;
}
.main-section {
  flex: 1;
  padding: 20px 40px 20px 40px;
}
.side-bar-subsection {
  div {
    font-size: 14px;
  }
  a {
    font-weight: normal;
  }
  .empty {
    color: $color_1;
  }
}
.main-contacts {
  font-size: 14px;
}
.main-section-empty-description {
  color: $color_1;
}
.logo-container {
  img {
    width: 200px;
    height: auto;
    align-self: center;
  }
  width: 208px;
  height: 208px;
  display: flex;
  justify-content: center;
}
h6 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
h5 {
  margin-top: 40px;
  font-weight: bold;
}
.green-hr {
  border: 1px solid global.$secondary;
  width: 100%;
  margin-top: 0.5rem;
}

.contact {
  div,
  h6 {
    width: 10%;
    text-align: left;
    flex-grow: 1;
    max-width: 200px;
    font-size: 14px;
  }
  .voting-contact {
    text-align: center;
    flex-grow: 0;
  }
}
