<div class="text-center" *ngIf="this.isLoggedAs()">
  <fa-icon [icon]="faUser"></fa-icon>
  <span jhiTranslate="global.menu.account.loggedInAs.string"></span>
  <b>{{ this.getUserName() }}</b> |
  <span jhiTranslate="global.menu.account.logoutAs.string"></span
  ><a tabindex="1" (click)="logoutAs()" (keypress)="logoutAs()" id="logoutAs.string">
    {{ this.getUserName() }}
    <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
  </a>
</div>
<nav class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()"
    ><span class="logo logo-img"
      ><img
        src="../../../content/images/orcid-logo.svg"
        width="120px"
        alt="ORCID logo" /></span
  ></a>
  <span
    jhiTranslate="global.menu.memberPortal.string"
    class="navbar-title navbar-brand logo"
    >Member Portal</span
  >&nbsp;
  <div *ngIf="this.organizationName" class="navbar-title navbar-brand pipe">
    |
  </div>
  &nbsp;
  <div
    *ngIf="isAuthenticated()"
    class="navbar-brand navbar-title logo org-name truncate-text"
    routerLink="/"
  >
    {{ this.organizationName }}
  </div>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon [icon]="faBars"></fa-icon>
  </a>
  <div
    class="navbar-collapse collapse"
    id="navbarResponsive"
    [ngbCollapse]="isNavbarCollapsed"
    [ngSwitch]="isAuthenticated()"
  >
    <ul class="navbar-nav ml-auto">
      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      <li
        *hasAnyAuthority="'ROLE_USER'"
        ngbDropdown
        class="nav-item dropdown pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="entity-menu"
        >
          <span>
            <fa-icon [icon]="faWrench"></fa-icon>
            <span jhiTranslate="global.menu.tools.main.string"> Tools </span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li *hasAnyAuthority="'ASSERTION_SERVICE_ENABLED'">
            <a
              class="dropdown-item"
              routerLink="assertion"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faAddressCard" [fixedWidth]="true"></fa-icon>
              <span
                jhiTranslate="global.menu.tools.assertionServiceAffiliationManager.string"
                >Affiliation Manager</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="report/member"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faChartPie" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.report.member.string"
                >Member report</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="report/integration"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faChartPie" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.report.integration.string"
                >Integration report</span
              >
            </a>
          </li>
          <li *ngIf="consortiumLead">
            <a
              class="dropdown-item"
              routerLink="report/consortia"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faChartPie" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.report.consortium.string"
                >Consortium report</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="report/affiliation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faChartPie" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.report.affiliation.string"
                >Affiliation report</span
              >
            </a>
          </li>
          <li *ngIf="consortiumLead">
            <a
              class="dropdown-item"
              routerLink="report/consortia-member-affiliations"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faChartPie" [fixedWidth]="true"></fa-icon>
              <span
                jhiTranslate="global.menu.report.consortiumMemberAffiliations.string"
                >Consortium report</span
              >
            </a>
          </li>
        </ul>
      </li>
      <li
        *hasAnyAuthority="'ROLE_USER'"
        ngbDropdown
        class="nav-item dropdown pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="entity-menu"
        >
          <span>
            <fa-icon [icon]="faLightbulb"></fa-icon>
            <span jhiTranslate="global.menu.resources.main.string">
              Resources
            </span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://info.orcid.org/documentation/member-portal/account-management/"
              (click)="collapseNavbar()"
            >
              <span
                jhiTranslate="global.menu.resources.accountManagementGuide.string"
                >Account Management Guide</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://info.orcid.org/documentation/member-portal/member-portal-organizational-admin-guide/"
              (click)="collapseNavbar()"
            >
              <span
                jhiTranslate="global.menu.resources.affiliationManagerGuide.string"
                >Affiliation Manager Guide</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://info.orcid.org/documentation/member-portal/member-reporting/"
              (click)="collapseNavbar()"
            >
              <span
                jhiTranslate="global.menu.resources.memberReportingGuide.string"
                >Member Reporting Guide</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              target="_blank"
              href="https://info.orcid.org/affiliation-manager-production-credentials-request-form/"
              (click)="collapseNavbar()"
            >
              <span
                jhiTranslate="global.menu.resources.applyForAffiliationManagerCreds.string"
                >Apply for Affiliation Manager Credentials</span
              >
            </a>
          </li>
        </ul>
      </li>
      <li
        *ngIf="
          this.isAuthenticated() &&
          (this.isOrganizationOwner() || this.hasRoleAdmin())
        "
        ngbDropdown
        class="nav-item dropdown pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="admin-menu"
        >
          <span>
            <fa-icon [icon]="faUserPlus"></fa-icon>
            <span jhiTranslate="global.menu.adminMenu.main.string">Admin</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="user"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faUser" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.adminMenu.manageUsers.string"
                >Manage users</span
              >
            </a>
          </li>
          <li>
            <a
              *hasAnyAuthority="'ROLE_ADMIN'"
              class="dropdown-item"
              routerLink="member"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faUniversity" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.adminMenu.manageMembers.string"
                >Manage members</span
              >
            </a>
          </li>
        </ul>
      </li>
      <li
        *ngIf="isAuthenticated()"
        ngbDropdown
        class="nav-item dropdown pointer"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="account-menu"
        >
          <span *ngIf="!getImageUrl()">
            <fa-icon [icon]="faUser"></fa-icon>
            <span jhiTranslate="global.menu.account.main.string">Account</span>
          </span>
          <span *ngIf="getImageUrl()">
            <img
              [src]="getImageUrl()"
              class="profile-image rounded-circle"
              alt="Avatar"
            />
          </span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-right"
          ngbDropdownMenu
          aria-labelledby="account-menu"
        >
          <li>
            <a
              class="dropdown-item"
              routerLink="settings"
              routerLinkActive="active"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faWrench" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.settings.string"
                >Settings</span
              >
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
            >
              <fa-icon [icon]="faLock" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.password.string"
                >Password</span
              >
            </a>
          </li>
          <li>
            <a class="dropdown-item" tabindex="1" (click)="logout()" (keypress)="logout()" id="logout">
              <fa-icon [icon]="faSignOutAlt" [fixedWidth]="true"></fa-icon>
              <span jhiTranslate="global.menu.account.logout.string"
                >Sign out</span
              >
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
