BASE_URL=http://localhost:8080
DOCKER_REG=
ENV=local
ISSUER_URL=http://localhost:9000
LANDING_PAGE_URL=http://localhost:8080/landing-page
UI_BASE_URL=[PUBLIC UI URL e.g. https://member-services.orcid.org]

MONGO_DB=[MONGO CONNECTION STRING]

JWT_SIGNATURE_URL=https://sandbox.orcid.org/oauth/jwks
INTERNAL_API_ENDPOINT=[ORCID API]
ORCID_API_ENDPOINT=https://api.sandbox.orcid.org/v3.0/
TOKEN_EXCHANGE_CLIENT_ID=[ORCID API CLIENT ID]
TOKEN_EXCHANGE_CLIENT_SECRET=[ORCID API CLIENT SECRET]
TOKEN_EXCHANGE_ENDPOINT=[ORCID OAUTH]
TOKEN_EXCHANGE_GRANT_TYPE=urn:ietf:params:oauth:grant-type:token-exchange
TOKEN_EXCHANGE_REQUESTED_TOKEN_TYPE=urn:ietf:params:oauth:token-type:access_token
TOKEN_EXCHANGE_SUBJECT_TOKEN_TYPE=urn:ietf:params:oauth:token-type:id_token

ASSERTION_ENCRYPT_KEY=[GENERATED HEX]
ASSERTION_ENCRYPT_SALT=[GENERATED HEX]
ASSERTION_SERVICE_INTERNAL_CLIENT_SECRET=[GENERATED SECRET]
JWT_KEY_ID=dev-key-id-v1
JWT_PRIVATE_KEY=file:/keystores/mserv-dev-jwt.key
JWT_PUBLIC_KEY=file:/keystores/mserv-dev-jwt.pem
MEMBER_ENCRYPT_KEY=[GENERATED HEX]
MEMBER_ENCRYPT_SALT=[GENERATED HEX]
USER_ENCRYPT_KEY=[GENERATED HEX]
USER_ENCRYPT_SALT=[GENERATED HEX]
USER_SERVICE_INTERNAL_CLIENT_SECRET=[GENERATED SECRET]

MEMBER_SERVICE_URL=http://memberservice-2-app:9010
USER_SERVICE_URL=http://userservice-2-app:9000

CONTACT_UPDATE_RECIPIENT=email@orcid.org
MAIL_CONTACT_UPDATE_RECIPIENT=email@orcid.org
MAIL_API_KEY=key
MAIL_API_URL=[API URL]
MAIL_FROM_ADDRESS=no-reply@orcid.org
MAIL_FROM_NAME=ORCID Member Portal
MAIL_TEST_MODE=true

CRON_GENERATE_MEMBER_ASSERTION_STATS=0 0 10 ? * MON
CRON_POST_AFFILIATIONS=60000
CRON_PUT_AFFILIATIONS=60000
CRON_SYNC_AFFILIATIONS=60000
RESEND_NOTIFICATION_DAYS=1,2
RESEND_NOTIFICATION_CRON=0 0/10 * * * ?
STORED_FILE_LIFESPAN=7

HOLISTICS_AFFILIATION_DASHBOARD_SECRET=secret
HOLISTICS_AFFILIATION_DASHBOARD_URL=blah
HOLISTICS_CONSORTIA_DASHBOARD_SECRET=secret
HOLISTICS_CONSORTIA_DASHBOARD_URL=blah
HOLISTICS_INTEGRATION_DASHBOARD_SECRET=blah
HOLISTICS_INTEGRATION_DASHBOARD_URL=blah
HOLISTICS_MEMBERAFFILIATIONS_DASHBOARD_SECRET=blah
HOLISTICS_MEMBERAFFILIATIONS_DASHBOARD_URL=blah
HOLISTICS_MEMBER_DASHBOARD_SECRET=secret
HOLISTICS_MEMBER_DASHBOARD_URL=blah
HTTP_CONN_TTL=20
HTTP_MAX_CONN_PER_ROUTE=20
HTTP_MAX_CONN_TOTAL=100
INSIGHT_TOKEN=[INSIGHT OPS TOKEN]

TAG=[RELEASE TAG WILL BE OVERWRITTEN BY DEPLOY SCRIPT]