log-raw/*
log-data/*
**/.DS_Store
.env
.classpath
.settings/
assertion-service/files/
gateway/yarn.lock
gateway/cypress/fixtures/editAffiliations.csv
gateway/cypress/fixtures/bulk-edit-salesforce-ids-config.json
