version: '2'

services:
  assertionservice-app:
    restart: unless-stopped
    image: dockerpush.int.orcid.org/assertionservice:${TAG}
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - 'SPRING_PROFILES_ACTIVE=prod'
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - 'EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka'
      - 'SPRING_CLOUD_CONFIG_URI=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/config'
      - 'SPRING_DATA_MONGODB_URI=${MONGO_DB}'
      - SPRING_DATA_MONGODB_DATABASE=assertionservice
      - JHIPSTER_SLEEP=30
      - JHIPSTER_REGISTRY_PASSWORD=admin
      - 'APPLICATION_ORCIDAPIENDPOINT=${ORCID_API_ENDPOINT}'
      - 'APPLICATION_JWT_SIGNATURE_URL=${JWT_SIGNATURE_URL}'
      - 'APPLICATION_LANDING_PAGE_URL=${LANDING_PAGE_URL}'
      - 'APPLICATION_TOKEN_EXCHANGE_ENDPOINT=${TOKEN_EXCHANGE_ENDPOINT}'
      - 'APPLICATION_TOKEN_EXCHANGE_GRANT_TYPE=${TOKEN_EXCHANGE_GRANT_TYPE}'
      - 'APPLICATION_TOKEN_EXCHANGE_SUBJECT_TOKEN_TYPE=${TOKEN_EXCHANGE_SUBJECT_TOKEN_TYPE}'
      - 'APPLICATION_TOKEN_EXCHANGE_REQUESTED_TOKEN_TYPE=${TOKEN_EXCHANGE_REQUESTED_TOKEN_TYPE}'
      - 'APPLICATION_TOKEN_EXCHANGE_CLIENT_ID=${TOKEN_EXCHANGE_CLIENT_ID}'
      - 'APPLICATION_TOKEN_EXCHANGE_CLIENT_SECRET=${TOKEN_EXCHANGE_CLIENT_SECRET}'
      - 'APPLICATION_CRON_POST_AFFILIATIONS=${CRON_POST_AFFILIATIONS}'
      - 'APPLICATION_CRON_PUT_AFFILIATIONS=${CRON_PUT_AFFILIATIONS}'
      - JHIPSTER_MAIL_BASE_URL=${BASE_URL}
    volumes:
      - ./log-raw/:/logs

  gateway-app:
    restart: unless-stopped
    image: dockerpush.int.orcid.org/gateway:${TAG}-${ENV}
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - 'SPRING_PROFILES_ACTIVE=prod'
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - 'EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka'
      - 'SPRING_CLOUD_CONFIG_URI=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/config'
      - 'SPRING_DATA_MONGODB_URI=${MONGO_DB}'
      - SPRING_DATA_MONGODB_DATABASE=gateway
      - JHIPSTER_SLEEP=30
      - JHIPSTER_REGISTRY_PASSWORD=admin
      - JHIPSTER_MAIL_FROM=${MAIL_FROM}
      - JHIPSTER_MAIL_BASE_URL=${BASE_URL}
    volumes:
      - ./log-raw/:/logs
    ports:
      - '8080:8080'

  userservice-app:
    restart: unless-stopped
    image: dockerpush.int.orcid.org/userservice:${TAG}
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - 'SPRING_PROFILES_ACTIVE=prod'
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - 'EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka'
      - 'SPRING_CLOUD_CONFIG_URI=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/config'
      - 'SPRING_DATA_MONGODB_URI=${MONGO_DB}'
      - SPRING_DATA_MONGODB_DATABASE=userservice
      - JHIPSTER_SLEEP=30
      - JHIPSTER_REGISTRY_PASSWORD=admin
      - SPRING_MAIL_HOST=${MAIL_HOST}
      - SPRING_MAIL_PORT=${MAIL_PORT}
      - SPRING_MAIL_USERNAME=${MAIL_USER}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
      - JHIPSTER_MAIL_FROM=${MAIL_FROM}
      - JHIPSTER_MAIL_BASE_URL=${BASE_URL}
    volumes:
      - ./log-raw/:/logs

  memberservice-app:
    restart: unless-stopped
    image: dockerpush.int.orcid.org/memberservice:${TAG}
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - 'SPRING_PROFILES_ACTIVE=prod'
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
      - 'EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/eureka'
      - 'SPRING_CLOUD_CONFIG_URI=http://admin:$${jhipster.registry.password}@jhipster-registry:8761/config'
      - 'SPRING_DATA_MONGODB_URI=${MONGO_DB}'
      - SPRING_DATA_MONGODB_DATABASE=memberservice
      - JHIPSTER_SLEEP=30
      - JHIPSTER_REGISTRY_PASSWORD=admin
      - SPRING_MAIL_HOST=${MAIL_HOST}
      - SPRING_MAIL_PORT=${MAIL_PORT}
      - SPRING_MAIL_USERNAME=${MAIL_USER}
      - SPRING_MAIL_PASSWORD=${MAIL_PASSWORD}
      - JHIPSTER_MAIL_BASE_URL=${BASE_URL}
    volumes:
      - ./log-raw/:/logs

  jhipster-registry:
    restart: unless-stopped
    extends:
      file: jhipster-registry.yml
      service: jhipster-registry

  jhipster-elasticsearch:
    restart: unless-stopped
    extends:
      file: jhipster-console.yml
      service: jhipster-elasticsearch
    volumes:
      - ./log-data:/usr/share/elasticsearch/data
  jhipster-logstash:
    restart: unless-stopped
    extends:
      file: jhipster-console.yml
      service: jhipster-logstash
    depends_on:
      - jhipster-elasticsearch
    volumes:
      - ./log-conf/:/usr/share/logstash/pipeline/
  jhipster-console:
    restart: unless-stopped
    extends:
      file: jhipster-console.yml
      service: jhipster-console
    depends_on:
      - jhipster-elasticsearch
  jhipster-import-dashboards:
    restart: unless-stopped
    extends:
      file: jhipster-console.yml
      service: jhipster-import-dashboards
    depends_on:
      - jhipster-elasticsearch
  jhipster-zipkin:
    restart: unless-stopped
    extends:
      file: jhipster-console.yml
      service: jhipster-zipkin
    depends_on:
      - jhipster-elasticsearch
