<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.orgOwner.title}">
        ORCID Member Portal - Organization Owner Access
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body
    style="font-family: arial, helvetica, sans-serif; font-size: 15px; color: #494A4C;">
<div style="padding: 20px; padding-top: 10px; margin: auto;">
    <div th:insert="~{mail/common :: emailHeader}"></div>
    <p>
        <span th:text="#{email.orgOwner.assigned(${member})}">
        You have been assigned the role of an organization owner for the ORCID Member Portal account {0}.
        </span>
    </p>
    <p>
        <span th:text="#{email.orgOwner.roleDescriptionHeading}">
        This role provides you access to additional features which includes:
        </span>
    </p>

    <ul>
        <li th:text="#{email.orgOwner.roleDescription1}">
            Managing other users access to the ORCID Member portal for your organization
        </li>
        <li th:text="#{email.orgOwner.roleDescription2}">
            Managing your Member API credentials
        </li>
    </ul>

    <p th:utext="#{email.orgOwner.twoFactorNote}">
        <b>Please note</b> that you have to enable 2FA on your account to be able to access your Member API Credential.
    </p>
    <p>
        <span th:text="#{email.orgOwner.problems}">
            If you have any problems accessing these additional features then please contact our Member Support Team.
        </span>
    </p>
</div>
</body>
</html>
