<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h1
        id="jhi-ms-member-heading"
        class="mt-5"
        i18n="@@gatewayApp.msUserServiceMSMember.home.createOrEditLabel.string"
      >
        Add or edit member
      </h1>
      <div>
        <app-alert-error />
        @if (validation.errors && validation.errors.length > 0) {
          <div class="alerts top right" role="alert">
            <ngb-alert
              class="alert alert-danger alert-dismissible"
              role="alert"
              ng-reflect-type="danger"
              (close)="validation.errors = null"
              [dismissible]="false"
            >
              <ul class="validation-errors">
                @for (error of validation.errors; track error) {
                  <li>
                    {{ error }}
                  </li>
                }
              </ul>
              <button
                type="button"
                (click)="validation.errors = null"
                (keyup.esc)="validation.errors = null"
                (keyup.enter)="validation.errors = null"
                class="btn-close"
                aria-label="Close"
              ></button>
            </ngb-alert>
          </div>
        }
        <div class="mb-3">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSMember.salesforceId.string"
            for="field_salesforceId.string"
            >Salesforce Id</label
          >
          <input
            type="text"
            class="form-control"
            name="salesforceId"
            id="field_salesforceId"
            formControlName="salesforceId"
          />
          @if (
            editForm.get('salesforceId')?.invalid &&
            (editForm.get('salesforceId')?.dirty || editForm.get('salesforceId')?.touched)
          ) {
            <div>
              @if ((editForm.get('salesforceId')?.errors)!['required']) {
                <small
                  class="form-text text-danger"
                  i18n="@@entity.validation.required.string"
                  data-cy="fieldIsRequired"
                >
                  This field is required.
                </small>
              }
              @if (
                !(editForm.get('salesforceId')?.errors)!['required'] &&
                editForm.get('salesforceId')?.hasError('pattern')
              ) {
                <small
                  class="form-text text-danger"
                  i18n="@@gatewayApp.msUserServiceMSMember.salesforceId.validation.pattern.string"
                  data-cy="fieldPatternInvalid"
                >
                  Must be exactly 18 alphanumeric characters.
                </small>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSMember.parentSalesforceId.string"
            for="field_parentSalesforceId.string"
            >Parent Salesforce Id</label
          >
          <input
            type="text"
            class="form-control"
            name="parentSalesforceId"
            id="field_parentSalesforceId"
            formControlName="parentSalesforceId"
          />
          @if (
            editForm.get('parentSalesforceId')?.invalid &&
            (editForm.get('parentSalesforceId')?.dirty || editForm.get('parentSalesforceId')?.touched)
          ) {
            <div>
              @if (editForm.get('parentSalesforceId')?.hasError('pattern')) {
                <small
                  class="form-text text-danger"
                  i18n="@@gatewayApp.msUserServiceMSMember.parentSalesforceId.validation.pattern.string"
                  data-cy="parentSalesforceIdPatternInvalid"
                >
                  Must be exactly 18 alphanumeric characters.
                </small>
              }
              @if (editForm.get('parentSalesforceId')?.hasError('validParentSalesforceIdValue')) {
                <small
                  class="form-text text-danger"
                  i18n="@@gatewayApp.msUserServiceMSMember.parentSalesforceId.validation.consortiumLead.string"
                  data-cy="parentSalesforceIdConsortiumLeadInvalid"
                >
                  Must match the organization's Salesforce ID for consortium leads.
                </small>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSMember.clientName.string"
            for="field_clientName.string"
            >Member Name</label
          >
          <input
            type="text"
            class="form-control"
            name="clientName"
            id="field_clientName"
            formControlName="clientName"
          />
          @if (
            editForm.get('clientName')?.invalid &&
            (editForm.get('clientName')?.dirty || editForm.get('clientName')?.touched)
          ) {
            <div>
              @if ((editForm.get('clientName')?.errors)!['required']) {
                <small
                  class="form-text text-danger"
                  i18n="@@entity.validation.required.string"
                  data-cy="fieldIsRequired"
                >
                  This field is required.
                </small>
              }
            </div>
          }
        </div>
        <div class="mb-3">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSMember.clientId.label.string"
            for="field_clientId.string"
            >Client ID</label
          >
          <p>
            <em
              ><span i18n="@@gatewayApp.msUserServiceMSMember.clientId.note.string"
                >Note: Client ID must have member OBO enabled AND</span
              >
              <a href="{{ baseUrl }}"> {{ baseUrl }} </a>
              <span i18n="@@gatewayApp.msUserServiceMSMember.clientId.addedAsRedirect.string"
                >added as a Redirect URI in</span
              >
              <a href="{{ orcidBaseUrl }}/manage-members.string"> {{ orcidBaseUrl }}/manage-members</a></em
            >
          </p>
          <input type="text" class="form-control" name="clientId" id="field_clientId" formControlName="clientId" />
          @if (
            editForm.get('clientId')?.invalid && (editForm.get('clientId')?.dirty || editForm.get('clientId')?.touched)
          ) {
            <div>
              @if ((editForm.get('clientId')?.errors)!['required']) {
                <small
                  class="form-text text-danger"
                  i18n="@@entity.validation.required.string"
                  data-cy="fieldIsRequired"
                >
                  This field is required.
                </small>
              }
              @if (!this.editForm.get('clientId')?.hasError('validClientId')) {
                <small class="form-text text-danger">
                  Client Id should be in the format XXXX-XXXX-XXXX-XXXX or APP-XXXXXXXXXXXXXXXX. X can be a digit or an
                  uppercase character."
                </small>
              }
            </div>
          }
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="isConsortiumLead"
            id="field_isConsortiumLead"
            formControlName="isConsortiumLead"
          />
          <label
            class="form-check-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSMember.isConsortiumLead.string"
            for="field_isConsortiumLead.string"
            >Consortium Lead</label
          >
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="assertionServiceEnabled"
            id="field_assertionServiceEnabled"
            formControlName="assertionServiceEnabled"
          />
          <label
            class="form-check-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSMember.assertionServiceEnabled.string"
            for="field_assertionServiceEnabled.string"
            >Assertions Enabled</label
          >
        </div>
      </div>
      @if (isSaving()) {
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      }
      <br />
      <div class="mb-3">
        <button type="button" id="cancel-save" class="btn btn-outline-primary me-2" (click)="navigateToMembersList()">
          <fa-icon [icon]="faBan" />&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving()" class="btn btn-primary">
          <fa-icon [icon]="faSave" />&nbsp;<span i18n="@@entity.action.save.string">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
