<div class="row justify-content-center">
  <div class="col-8">
    @if (member()) {
      <div>
        <h1 class="mt-5" i18n="@@gatewayApp.msUserServiceMSMember.detail.title.string">Member details</h1>
        <hr />
        <app-alert-toast />
        <div class="row">
          <dl class="jh-entity-details">
            <dt class="col-md-3">ID</dt>
            <dd class="col-md-9">
              {{ member()?.id }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.salesforceId.string">SalesForce ID</dt>
            <dd class="col-md-9">
              {{ member()?.salesforceId }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.parentSalesforceId.string">
              Parent SalesForce ID
            </dt>
            <dd class="col-md-9">
              {{ member()?.parentSalesforceId || '-' }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.organizationName.string">Organization Name</dt>
            <dd class="col-md-9">
              {{ member()?.clientName }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.organizationType.string">Organization Type</dt>
            <dd class="col-md-9">
              {{ getOrganizationType(member()) }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.active.string">Active?</dt>
            <dd class="col-md-9">
              <span class="visually-hidden">{{ member()?.active }}</span>
              @if (member()?.active) {
                <fa-icon aria-hidden="true" [icon]="faCheckCircle" [style.color]="'#28a745'" />
              }
              @if (!member()?.active) {
                <fa-icon aria-hidden="true" [icon]="faTimesCircle" [style.color]="'#f22112'" />
              }
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.assertionEnabled.string">
              Assertions Enabled
            </dt>
            <dd class="col-md-9">
              <span class="visually-hidden">{{ member()?.assertionServiceEnabled }}</span>
              @if (member()?.assertionServiceEnabled) {
                <fa-icon aria-hidden="true" [icon]="faCheckCircle" [style.color]="'#28a745'" />
              }
              @if (!member()?.assertionServiceEnabled) {
                <fa-icon aria-hidden="true" [icon]="faTimesCircle" [style.color]="'#f22112'" />
              }
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.clientId.label.string">Client ID</dt>
            <dd class="col-md-9">
              {{ member()?.clientId }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.createdDate.string">Created Date</dt>
            <dd class="col-md-9">
              {{ member()?.createdDate }} <i><span i18n="@@global.by.string">by</span> {{ member()?.createdBy }}</i>
            </dd>
            @if (member()?.lastModifiedDate) {
              <dt class="col-md-3" i18n="@@gatewayApp.msUserServiceMSMember.lastModifiedDate.string">
                Last Modified Date
              </dt>
            }
            @if (member()?.lastModifiedDate) {
              <dd class="col-md-9">
                {{ member()?.lastModifiedDate }}
                <i><span i18n="@@global.by.string">by</span> {{ member()?.lastModifiedBy }}</i>
              </dd>
            }
          </dl>
        </div>
        <hr />
        <div>
          <button type="submit" (click)="previousState()" class="btn btn-outline-primary">
            <fa-icon [icon]="faArrowLeft" />&nbsp;<span i18n="@@entity.action.back.string"> Back</span>
          </button>
          <button type="button" [routerLink]="['/members', member()?.id, 'edit']" class="btn btn-primary ms-1">
            <fa-icon [icon]="faPencilAlt" />&nbsp;<span i18n="@@entity.action.edit.string"> Edit</span>
          </button>
        </div>
      </div>
    }
  </div>
</div>
