<div class="row justify-content-center">
  <div class="col-8">
    @if (affiliation(); as affiliationData) {
      <div>
        <h1 class="mt-5" i18n="@@gatewayApp.assertionServiceAssertion.detail.title.string">Affiliation details</h1>
        <hr />
        <app-alert-error />
        <div class="row">
          <dl class="jh-entity-details">
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.id.string">ID</dt>
            <dd class="col-md-9">
              {{ affiliationData.id }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.email.string">Email</dt>
            <dd class="col-md-9">
              {{ affiliationData.email }}
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.status.string">Status</dt>
            <dd class="col-md-9">
              {{ affiliationData.prettyStatus || '' | localize }}
            </dd>
            @if (affiliationData.permissionLink) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.permissionLink.string">
                Permission link
              </dt>
            }
            @if (affiliationData.permissionLink) {
              <dd class="col-md-9">
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  [ngxClipboard]
                  [cbContent]="affiliationData.permissionLink"
                  (cbOnSuccess)="successMessage()"
                  data-cy="copyToClipboard"
                  i18n="@@gatewayApp.assertionServiceAssertion.copyClipboard.string"
                >
                  Copy to clipboard
                </button>
              </dd>
            }
            @if (affiliationData.orcidId) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.orcidId.string">ORCID iD</dt>
            }
            @if (affiliationData.orcidId) {
              <dd class="col-md-9">
                <a href="{{ orcidBaseUrl }}/{{ affiliationData.orcidId }}" target="_blank" rel="noopener noreferrer"
                  >{{ orcidBaseUrl }}/{{ affiliationData.orcidId }}</a
                >
              </dd>
            }
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.affiliationSection.string">
              Affiliation Section
            </dt>
            <dd class="col-md-9">
              <span>{{ affiliationData.affiliationSection! | localize }}</span>
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.detail.org.string">Organization</dt>
            <dd class="col-md-9">
              {{ affiliationData.orgName }}:
              @if (affiliationData.orgCity) {
                <span>{{ affiliationData.orgCity }}</span>
              }
              @if (affiliationData.orgRegion) {
                <span>, {{ affiliationData.orgRegion }}</span>
              }
              @if (affiliationData.orgCountry) {
                <span>, {{ affiliationData.orgCountry }}</span>
              }
              <br />
              {{ affiliationData.disambiguationSource }} {{ affiliationData.disambiguatedOrgId }}
            </dd>
            @if (affiliationData.departmentName) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.departmentName.string">
                Department Name
              </dt>
            }
            @if (affiliationData.departmentName) {
              <dd class="col-md-9">
                {{ affiliationData.departmentName }}
              </dd>
            }
            @if (affiliationData.roleTitle) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.roleTitle.string">Role Title</dt>
            }
            @if (affiliationData.roleTitle) {
              <dd class="col-md-9">
                {{ affiliationData.roleTitle }}
              </dd>
            }
            @if (affiliationData.url) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.url.string">Url</dt>
            }
            @if (affiliationData.url) {
              <dd class="col-md-9">
                <a href="{{ affiliationData.url }}">{{ affiliationData.url }}</a>
              </dd>
            }
            @if (affiliationData.startYear) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.startDate.string">Start Date</dt>
            }
            @if (affiliationData.startYear) {
              <dd class="col-md-9">
                {{ startDate() }}
              </dd>
            }
            @if (affiliationData.endYear) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.endDate.string">End Date</dt>
            }
            @if (affiliationData.endYear) {
              <dd class="col-md-9">
                {{ endDate() }}
              </dd>
            }
            @if (affiliationData.externalId) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.externalId.string">External Id</dt>
            }
            @if (affiliationData.externalId) {
              <dd class="col-md-9">
                {{ affiliationData.externalIdType! }}
                @if (affiliationData.externalIdUrl) {
                  <a href="{{ affiliationData.externalIdUrl }}">{{ affiliationData.externalId }}</a>
                }
                @if (!affiliationData.externalIdUrl) {
                  <span>{{ affiliationData.externalId }}</span>
                }
              </dd>
            }
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.created.string">Created</dt>
            <dd class="col-md-9">
              {{ affiliationData.created?.toString() | date: 'medium' }}
            </dd>
            @if (affiliationData.addedToORCID) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.addedToOrcid.string">Added To ORCID</dt>
            }
            @if (affiliationData.addedToORCID) {
              <dd class="col-md-9">
                {{ affiliationData.addedToORCID.toString() | date: 'medium' }}
              </dd>
            }
            @if (affiliationData.updatedInORCID) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.updatedInOrcid.string">
                Updated In ORCID
              </dt>
            }
            @if (affiliationData.updatedInORCID) {
              <dd class="col-md-9">
                {{ affiliationData.updatedInORCID.toString() | date: 'medium' }}
              </dd>
            }
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.modified.string">Modified</dt>
            <dd class="col-md-9">
              {{ affiliationData.modified?.toString() | date: 'medium' }}
              <i><span i18n="@@global.by.string">by</span> {{ affiliationData.lastModifiedBy }}</i>
            </dd>
            <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.adminId.string">Admin Id</dt>
            <dd class="col-md-9">
              {{ ownerId() }}
            </dd>
            @if (
              (!affiliationData.invitationSent && affiliationData.notificationSent) ||
              (affiliationData.notificationSent && affiliationData.notificationSent < affiliationData.invitationSent!)
            ) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.notificationFirstSent.string">
                Notification First Sent
              </dt>
            }
            @if (
              (!affiliationData.invitationSent && affiliationData.notificationSent) ||
              (affiliationData.notificationSent && affiliationData.notificationSent < affiliationData.invitationSent!)
            ) {
              <dd class="col-md-9">
                {{ affiliationData.notificationSent.toString() | date: 'medium' }}
              </dd>
            }
            @if (
              (!affiliationData.notificationSent && affiliationData.invitationSent) ||
              (affiliationData.invitationSent && affiliationData.invitationSent < affiliationData.notificationSent!)
            ) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.notificationFirstSent.string">
                Notification First Sent
              </dt>
            }
            @if (
              (!affiliationData.notificationSent && affiliationData.invitationSent) ||
              (affiliationData.invitationSent && affiliationData.invitationSent < affiliationData.notificationSent!)
            ) {
              <dd class="col-md-9">
                {{ affiliationData.invitationSent.toString() | date: 'medium' }}
              </dd>
            }
            @if (
              (!affiliationData.invitationLastSent && affiliationData.notificationLastSent) ||
              (affiliationData.notificationLastSent && affiliationData.notificationLastSent > affiliationData.invitationLastSent!)
            ) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.notificationLastSent.string">
                Notification Last Sent
              </dt>
            }
            @if (
              (!affiliationData.invitationLastSent && affiliationData.notificationLastSent) ||
              (affiliationData.notificationLastSent && affiliationData.notificationLastSent > affiliationData.invitationLastSent!)
            ) {
              <dd class="col-md-9">
                {{ affiliationData.notificationLastSent.toString() | date: 'medium' }}
              </dd>
            }
            @if (
              (!affiliationData.notificationLastSent && affiliationData.invitationLastSent) ||
              (affiliationData.invitationLastSent && affiliationData.invitationLastSent > affiliationData.notificationLastSent!)
            ) {
              <dt class="col-md-3" i18n="@@gatewayApp.assertionServiceAssertion.notificationLastSent.string">
                Notification Last Sent
              </dt>
            }
            @if (
              (!affiliationData.notificationLastSent && affiliationData.invitationLastSent) ||
              (affiliationData.invitationLastSent && affiliationData.invitationLastSent > affiliationData.notificationLastSent!)
            ) {
              <dd class="col-md-9">
                {{ affiliationData.invitationLastSent.toString() | date: 'medium' }}
              </dd>
            }
          </dl>
        </div>
        <hr />
        <div class="mb-5">
          <button type="submit" (click)="previousState()" class="btn btn-outline-primary me-2">
            <fa-icon [icon]="faArrowLeft" />&nbsp;<span i18n="@@entity.action.back.string"> Back</span>
          </button>
          <button type="button" [routerLink]="['/affiliations', affiliationData.id, 'edit']" class="btn btn-primary">
            <fa-icon [icon]="faPencilAlt" />&nbsp;<span i18n="@@entity.action.edit.string"> Edit</span>
          </button>
        </div>
      </div>
    }
  </div>
</div>
