<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h1 id="jhi-ms-user-heading" class="mt-5" i18n="@@gatewayApp.msUserServiceMSUser.home.createOrEditLabel.string">
        Add or edit user
      </h1>
      <div>
        <app-alert-error />
        @if ((validation().errors?.length ?? 0) > 0) {
          <div class="alerts top right" role="alert">
            <ngb-alert
              class="alert alert-danger alert-dismissible"
              role="alert"
              ng-reflect-type="danger"
              [dismissible]="false"
            >
              <ul class="validation-errors">
                @for (error of validation().errors ?? []; track error) {
                  <li>
                    {{ error }}
                  </li>
                }
              </ul>
              <button
                type="button"
                (click)="validation.set({})"
                (keyup.esc)="validation.set({})"
                (keyup.enter)="validation.set({})"
                class="btn-close"
                aria-label="Close"
              ></button>
            </ngb-alert>
          </div>
        }
        <div class="mb-3">
          <label class="form-label fw-bold" i18n="@@gatewayApp.msUserServiceMSUser.email.string" for="field_email"
            >Email</label
          >
          <input type="text" class="form-control" name="email" id="field_email" formControlName="email" />
        </div>
        <div class="mb-3">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSUser.firstName.string"
            for="field_firstName.string"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" formControlName="firstName" />
        </div>
        <div class="mb-3">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSUser.lastName.string"
            for="field_lastName.string"
            >Last Name</label
          >
          <input type="text" class="form-control" name="lastName" id="field_lastName" formControlName="lastName" />
        </div>
        <div class="form-check mb-3">
          <input
            type="checkbox"
            class="form-check-input"
            name="mainContact"
            id="field_mainContact"
            formControlName="mainContact"
            (change)="validateOrgOwners($event)"
          />
          <label
            class="form-check-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSUser.mainContact.string"
            for="field_mainContact"
            >Organization Owner</label
          >
        </div>
        @if (featureService.isEnabled('MANAGE_API_CREDENTIALS')) {
          <div class="form-check mb-3">
            <input
              type="checkbox"
              class="form-check-input"
              name="manageApiCredentialsEnabled"
              id="field_manageApiCredentialsEnabled"
              formControlName="manageApiCredentialsEnabled"
            />
            <label
              class="form-check-label fw-bold"
              i18n="@@gatewayApp.msUserServiceMSUser.manageApiCredentialsEnabled.string"
              for="field_manageApiCredentialsEnabled"
              >Manage API credentials</label
            >
          </div>
        }
        <div class="mb-0">
          <label
            class="form-label fw-bold"
            i18n="@@gatewayApp.msUserServiceMSUser.memberId.string"
            for="field_memberId.string"
            >Organization</label
          >
          <fieldset [disabled]="isExistentMember()">
            @if (memberList().length > 0) {
              <select class="form-select mb-3" name="memberId" id="field_memberId" formControlName="memberId">
                @for (member of memberList(); track member) {
                  <option [ngValue]="member.id">{{ member.clientName }}</option>
                }
              </select>
            }
          </fieldset>
          <fieldset [disabled]="true">
            <div class="form-check mb-3">
              <input
                type="checkbox"
                class="form-check-input"
                name="activated"
                id="field_activated"
                formControlName="activated"
              />
              <label
                class="form-check-label fw-bold"
                i18n="@@gatewayApp.msUserServiceMSUser.activated.string"
                for="field_activated.string"
                >Activated</label
              >
            </div>
          </fieldset>
          @if (showIsAdminCheckbox()) {
            <div class="form-check mb-3">
              <input
                type="checkbox"
                class="form-check-input"
                name="isAdmin"
                id="field_isAdmin"
                formControlName="isAdmin"
              />
              <label
                class="form-check-label fw-bold"
                i18n="@@gatewayApp.msUserServiceMSUser.isAdmin.string"
                for="field_isAdmin.string"
                >Admin</label
              >
            </div>
          }
        </div>
      </div>
      <div class="mb-3">
        <button type="button" id="cancel-save" class="btn btn-outline-primary me-2" (click)="navigateToUsersList()">
          <fa-icon [icon]="faBan" />&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
        </button>

        @if (hasOwner()) {
          <button
            (click)="confirmOwnershipChange()"
            type="submit"
            id="save-entity"
            [disabled]="editForm.invalid || isSaving() || memberList().length === 0"
            class="btn btn-primary"
          >
            <fa-icon [icon]="faSave" />&nbsp;<span i18n="@@entity.action.save.string">Save</span>
          </button>
        }
        @if (!hasOwner()) {
          <button
            (click)="save()"
            type="submit"
            id="save-entity2"
            [disabled]="editForm.invalid || isSaving() || memberList().length === 0"
            class="btn btn-primary"
          >
            <fa-icon [icon]="faSave" />&nbsp;<span i18n="@@entity.action.save.string">Save</span>
          </button>
        }
        @if (displaySendActivate()) {
          <button type="button" (click)="sendActivate()" class="btn btn-primary btn-sm ms-1">
            <fa-icon [icon]="faCheckCircle" />
            <span class="d-none d-md-inline" i18n="@@entity.action.activate.string">Resend activation email</span>
          </button>
        }
      </div>
    </form>
    @if (existentUser()?.id && hasRoleAdmin()) {
      <form name="mfaForm" role="form" novalidate [formGroup]="mfaForm">
        <hr class="mb-32 mt-32" />
        <h2 class="mb-8 font-size-18">
          <ng-container i18n="@@settings.security.mfa.string">Two-factor authentication</ng-container>&nbsp;
          @if (existentUser()?.mfaEnabled) {
            <span class="mfaOn">(<ng-container i18n="@@settings.security.mfaOn.string">ON</ng-container>)</span>
          }
          @if (!existentUser()?.mfaEnabled) {
            <span class="mfaOff">(<ng-container i18n="@@settings.security.mfaOff.string">OFF</ng-container>)</span>
          }
        </h2>
        <div class="font-size-14">
          @if (existentUser()?.mfaEnabled) {
            <p class="mb-8" i18n="@@settings.security.disableMfaDescription.string">
              Disable two-factor authentication (2FA) for this user if they are having difficulty signing in to the
              member portal.
            </p>
            <div class="mb-3">
              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  role="switch"
                  name="twoFactorAuthentication"
                  id="field_twoFactorAuthentication"
                  formControlName="twoFactorAuthentication"
                />
                <label
                  class="form-check-label two-factor-authentication-label"
                  i18n="@@settings.security.mfa.string"
                  for="field_twoFactorAuthentication"
                  >Two-factor authentication</label
                >
              </div>
            </div>
          }
          @if (!existentUser()?.mfaEnabled) {
            <div class="warning-message d-flex p-16 mb-40 mt-16">
              <img src="./content/images/warning-sign.svg" alt="Warning sign" class="p-8" />
              <div class="font-size-14 wide-text line-height-150" i18n="@@settings.security.disabledMfaNotice.string">
                Users can enable 2FA from their account settings page
              </div>
            </div>
          }
        </div>
        <div class="mb-3">
          <button type="button" id="cancel-save" class="btn btn-outline-primary me-2" (click)="navigateToUsersList()">
            <fa-icon [icon]="faBan" />&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
          </button>
          <button
            (click)="saveMfa()"
            type="submit"
            [disabled]="!disableMfa() || isSaving() || memberList().length === 0"
            class="btn btn-primary"
          >
            <fa-icon [icon]="faSave" />&nbsp;<span i18n="@@entity.action.save.string">Save</span>
          </button>
        </div>
      </form>
    }
  </div>
</div>
