<form name="uploadForm" (ngSubmit)="upload()">
  <div class="modal-header">
    <h4 class="modal-title" i18n="@@gatewayApp.msUserServiceMSUser.import.title.string">Import users</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clear()"></button>
  </div>
  <div class="modal-body">
    <app-alert-error />
    @if ((csvErrors()?.length ?? 0) > 0) {
      <div class="alerts top right" role="alert">
        <ngb-alert
          class="alert alert-danger alert-dismissible"
          role="alert"
          ng-reflect-type="danger"
          (close)="csvErrors.set(null)"
          [dismissible]="false"
        >
          <p i18n="@@gatewayApp.msUserServiceMSUser.import.errors.label.string">
            Oops! There was a problem processing your data. Pleases fix the errors below and try again
          </p>
          <table>
            <thead>
              <th>Errors</th>
            </thead>
            <tbody>
              @for (error of csvErrors() ?? []; track error) {
                <tr>
                  <td>Row {{ error['index'] }}</td>
                  <td>{{ error['message'] }}</td>
                </tr>
              }
            </tbody>
          </table>
          <button
            type="button"
            (click)="csvErrors.set(null)"
            (keyup.esc)="csvErrors.set(null)"
            (keyup.enter)="csvErrors.set(null)"
            class="btn-close"
            aria-label="Close"
          ></button>
        </ngb-alert>
      </div>
    }
    <p id="jhi-delete-msUser-heading" i18n="@@gatewayApp.msUserServiceMSUser.import.label.string">
      Please select a CSV file to upload
    </p>

    <div class="mb-3">
      <label
        class="form-label fw-bold visually-hidden"
        i18n="@@gatewayApp.msUserServiceMSUser.import.filePath.string"
        for="field_filePath.string"
        >File Path</label
      >
      <input
        type="file"
        class="form-control"
        name="filePath"
        id="field_filePath"
        accept=".csv"
        (click)="clearFileInput($event)"
        (change)="selectFile($event)"
      />
    </div>
  </div>
  @if (loading()) {
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        style="width: 100%"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  }
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="clear()">
      <fa-icon [icon]="faBan" />&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
    </button>
    <button id="jhi-confirm-delete-msUser" type="submit" class="btn btn-primary">
      <fa-icon [icon]="faSave" />&nbsp;<span i18n="@@entity.action.upload.string">Upload</span>
    </button>
  </div>
</form>
