<div *ngIf="memberData" class="h-100">
  <div class="p-3">
    <div class="go-back">
      Back to <a routerLink="">{{ memberData.publicDisplayName }}</a>
    </div>
    <hr class="mb-4" />
    <div class="edit-org-label mb-2 font-size-18 color-gray">Add new contact</div>
    <h1 class="mb-3 wide-text font-italic">New contact</h1>
  </div>
  <div class="d-flex">
    <div class="main-section">
      <form (ngSubmit)="save()" name="editForm" role="form" [formGroup]="editForm">
        <div *ngIf="invalidForm" class="warning d-flex w-75 p-3 mb-3">
          <img src="./../../../../content/images/warning-sign.svg" alt="Warning sign" class="p-2" />
          <div>
            <div class="mb-2 font-size-12 wide-text font-weight-bold">
              Your changes cannot be saved
            </div>
            <div class="font-size-12 wide-text">
              Please fix the issues with the public details before trying to save again
            </div>
          </div>
        </div>
        <h3 class="mb-3 wide-text">Contact details</h3>
        <div class="form">
          <div class="form-group w-50">
            <label
              class="wide-text font-size-12"
              [ngClass]="{ 'text-danger': editForm.get('firstName').invalid && editForm.get('firstName').touched }"
              >First or given name</label
            >
            <input
              type="text"
              class="form-control"
              name="firstName"
              formControlName="firstName"
              [ngClass]="{
                'text-danger': editForm.get('firstName').invalid && editForm.get('firstName').touched,
                'default-border': !editForm.get('firstName').touched
              }"
            />
            <div *ngIf="editForm.get('firstName').invalid && editForm.get('firstName').touched">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('firstName').errors.required">
                First name cannot be empty
              </small>
              <div>
                <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('firstName').errors.maxlength">
                  First name is too long. Please use 255 characters or less.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              class="wide-text font-size-12"
              [ngClass]="{ 'text-danger': editForm.get('lastName').invalid && editForm.get('lastName').touched }"
              >Last or family name</label
            >
            <input
              type="text"
              class="form-control"
              name="lastName"
              formControlName="lastName"
              [ngClass]="{
                'text-danger': editForm.get('lastName').invalid && editForm.get('lastName').touched,
                'default-border': !editForm.get('lastName').touched
              }"
            />
            <div *ngIf="editForm.get('lastName').invalid && editForm.get('lastName').touched">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('lastName').errors.required">
                Last name cannot be empty
              </small>
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('lastName').errors.maxlength">
                Last name is too long. Please use 5000 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text font-size-12">Job title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              formControlName="title"
              [ngClass]="{ 'text-danger': editForm.get('title').invalid }"
            />
            <div *ngIf="editForm.get('title').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('title').errors.maxlength">
                Job title is too long. Please use 5000 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group mb-3 w-50">
            <label
              [ngClass]="{ 'text-danger': editForm.get('email').invalid && editForm.get('email').touched }"
              class="wide-text font-size-12"
              >Email</label
            >
            <input
              type="text"
              class="form-control"
              name="email"
              formControlName="email"
              [ngClass]="{
                'text-danger': editForm.get('email').invalid && editForm.get('email').touched,
                'default-border': !editForm.get('email').touched
              }"
            />
            <ng-template #validEmail>
              <small class="wide-text font-size-12 color-gray">The contact email for this person</small>
            </ng-template>
            <div *ngIf="editForm.get('email').invalid && editForm.get('email').touched; else validEmail">
              <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('email').errors.pattern">
                Please enter a valid email address, for example contactus@website.com
              </small>
              <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('email').errors.maxlength">
                Email is too long. Please use 80 characters or less.
              </small>
              <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('email').errors.required">
                Email cannot be empty
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text font-size-12">Phone</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              formControlName="phone"
              [ngClass]="{ 'text-danger': editForm.get('phone').invalid && editForm.get('phone').touched }"
            />
            <ng-template #validPhone>
              <small class="wide-text font-size-12 color-gray">A direct contact phone for this person</small>
            </ng-template>
            <div *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched; else validPhone">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('phone').errors.maxlength">
                Organization description is too long. Please use 5000 characters or less.
              </small>
            </div>
          </div>
          <h3 class="mb-4 mr-2 mt-4">Roles</h3>
          <div formArrayName="roles" class="border-0">
            <div *ngFor="let myOption of roles.controls; let i = index">
              <div formGroupName="{{ i }}">
                <input type="checkbox" [formControl]="myOption.get('selected')" class="role-checkbox"/>
                <label class="font-size-14 font-weight-normal mb-3"> {{ myOption.get('name').value }} </label>
              </div>
              <div *ngIf="editForm.get('roles').invalid">
                <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('roles').errors.required">
                  Organization description is too long. Please use 5000 characters or less.
                </small>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="isSaving" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-outline-primary" routerLink="/">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
