<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.assertionServicesAssertion.home.title">Assertions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assertion" [routerLink]="['/assertion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.assertionServicesAssertion.home.createLabel">
            Create new Assertion
            </span>
        </button>
        <br />
        <button id="jh-upload-entities" class="btn btn-primary float-right jh-create-entity create-assertions" [routerLink]="['/', 'assertion', { outlets: { popup: 'import'} }]">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.assertionServicesAssertion.home.uploadLabel">
            Upload Assertions
            </span>
        </button>
        <br />
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="assertions?.length === 0">
        <span jhiTranslate="gatewayApp.assertionServicesAssertion.home.notFound">No assertions found</span>
    </div>
    <div class="table-responsive" *ngIf="assertions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="gatewayApp.assertionServicesAssertion.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="affiliationSection"><span jhiTranslate="gatewayApp.assertionServicesAssertion.affiliationSection">Affiliation Section</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departmentName"><span jhiTranslate="gatewayApp.assertionServicesAssertion.departmentName">Department Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="roleTitle"><span jhiTranslate="gatewayApp.assertionServicesAssertion.roleTitle">Role Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startYear"><span jhiTranslate="gatewayApp.assertionServicesAssertion.startYear">Start Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startMonth"><span jhiTranslate="gatewayApp.assertionServicesAssertion.startMonth">Start Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDay"><span jhiTranslate="gatewayApp.assertionServicesAssertion.startDay">Start Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endYear"><span jhiTranslate="gatewayApp.assertionServicesAssertion.endYear">End Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endMonth"><span jhiTranslate="gatewayApp.assertionServicesAssertion.endMonth">End Month</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDay"><span jhiTranslate="gatewayApp.assertionServicesAssertion.endDay">End Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgName"><span jhiTranslate="gatewayApp.assertionServicesAssertion.orgName">Org Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgCountry"><span jhiTranslate="gatewayApp.assertionServicesAssertion.orgCountry">Org Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgCity"><span jhiTranslate="gatewayApp.assertionServicesAssertion.orgCity">Org City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orgRegion"><span jhiTranslate="gatewayApp.assertionServicesAssertion.orgRegion">Org Region</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="disambiguatedOrgId"><span jhiTranslate="gatewayApp.assertionServicesAssertion.disambiguatedOrgId">Disambiguated Org Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="disambiguationSource"><span jhiTranslate="gatewayApp.assertionServicesAssertion.disambiguationSource">Disambiguation Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalId"><span jhiTranslate="gatewayApp.assertionServicesAssertion.externalId">External Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalIdType"><span jhiTranslate="gatewayApp.assertionServicesAssertion.externalIdType">External Id Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalIdUrl"><span jhiTranslate="gatewayApp.assertionServicesAssertion.externalIdUrl">External Id Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="putCode"><span jhiTranslate="gatewayApp.assertionServicesAssertion.putCode">Put Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="gatewayApp.assertionServicesAssertion.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modified"><span jhiTranslate="gatewayApp.assertionServicesAssertion.modified">Modified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deletedFromORCID"><span jhiTranslate="gatewayApp.assertionServicesAssertion.deletedFromORCID">Deleted From ORCID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sent"><span jhiTranslate="gatewayApp.assertionServicesAssertion.sent">Sent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="adminId"><span jhiTranslate="gatewayApp.assertionServicesAssertion.adminId">Admin Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assertion of assertions ;trackBy: trackId">
                <td><a [routerLink]="['/assertion', assertion.id, 'view' ]">{{assertion.id}}</a></td>
                <td>{{assertion.email}}</td>
                <td jhiTranslate="{{'gatewayApp.AffiliationSection.' + assertion.affiliationSection}}">{{assertion.affiliationSection}}</td>
                <td>{{assertion.departmentName}}</td>
                <td>{{assertion.roleTitle}}</td>
                <td>{{assertion.startYear}}</td>
                <td>{{assertion.startMonth}}</td>
                <td>{{assertion.startDay}}</td>
                <td>{{assertion.endYear}}</td>
                <td>{{assertion.endMonth}}</td>
                <td>{{assertion.endDay}}</td>
                <td>{{assertion.orgName}}</td>
                <td>{{assertion.orgCountry}}</td>
                <td>{{assertion.orgCity}}</td>
                <td>{{assertion.orgRegion}}</td>
                <td>{{assertion.disambiguatedOrgId}}</td>
                <td>{{assertion.disambiguationSource}}</td>
                <td>{{assertion.externalId}}</td>
                <td>{{assertion.externalIdType}}</td>
                <td>{{assertion.externalIdUrl}}</td>
                <td>{{assertion.putCode}}</td>
                <td>{{assertion.created | date:'medium'}}</td>
                <td>{{assertion.modified | date:'medium'}}</td>
                <td>{{assertion.deletedFromORCID | date:'medium'}}</td>
                <td>{{assertion.sent}}</td>
                <td>{{assertion.adminId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/assertion', assertion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/assertion', assertion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'assertion', { outlets: { popup: assertion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="assertions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
