<div *ngIf="memberData" class="h-100 p-16 line-height-normal">
  <div class="font-size-14">
    Back to <a routerLink="" class="font-weight-normal text-decoration-underline">{{ memberData.publicDisplayName }}</a>
  </div>
  <hr class="mb-40" />
  <div class="edit-org-label mb-8 font-size-18 color-gray" *ngIf="!contactId">Add new consortium member</div>
  <h1 class="mb-40 wide-text font-weight-bold" *ngIf="!contactId">New organization</h1>
  <div class="d-flex">
    <form (ngSubmit)="save()" name="editForm" role="form" [formGroup]="editForm" class="w-66">
      <div *ngIf="invalidForm" class="error-message d-flex p-16 mb-30 line-height-150">
        <img src="./../../../../content/images/error-sign.svg" alt="Warning sign" class="p-8" />
        <div>
          <div class="mb-8 font-size-12 wide-text-25 font-weight-bold">
            Your changes cannot be saved
          </div>
          <div class="font-size-12 wide-text-25">
            Please fix the issues with the form before trying to save again
          </div>
        </div>
      </div>
      <div class="form w-100">
        <h2 class="mb-30 wide-text font-size-24">Organization details</h2>

        <!-- Organization name & email domain -->

        <h3 class="mb-20 font-size-16 font-weight-bold">Name & email domain</h3>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{
              'text-danger': editForm.get('orgName').invalid && editForm.get('orgName').touched && editForm.get('orgName').dirty
            }"
            >Organization name <span class="font-weight-normal">(Required)</span></label
          >
          <input
            type="text"
            class="form-control wide-text-25 org-name-input-field"
            name="orgName"
            formControlName="orgName"
            (input)="editForm.get('orgName').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('orgName').invalid && editForm.get('orgName').touched && editForm.get('orgName').dirty,
              'input-field-default-border': !editForm.get('orgName').dirty || !editForm.get('orgName').touched
            }"
          />
          <ng-template #validOrgName>
            <small class="wide-text font-size-12 form-text color-gray"
              >The legal or official name for this organization. Max 41 characters.</small
            >
          </ng-template>
          <div
            *ngIf="editForm.get('orgName').invalid && editForm.get('orgName').touched && editForm.get('orgName').dirty; else validOrgName"
          >
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('orgName').errors.required">
              Organization name cannot be empty
            </small>
            <div>
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('orgName').errors.maxlength">
                Organization name is too long. Please use 41 characters or less.
              </small>
            </div>
          </div>
        </div>
        <div class="form-group mb-30">
          <label
            [ngClass]="{ 'text-danger': editForm.get('emailDomain').invalid && editForm.get('emailDomain').touched }"
            class="wide-text font-size-12 font-weight-bold"
            >Email domain</label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="emailDomain"
            formControlName="emailDomain"
            (input)="editForm.get('emailDomain').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('emailDomain').invalid && editForm.get('emailDomain').touched,
              'input-field-default-border': !editForm.get('emailDomain').touched
            }"
          />
          <ng-template #validEmailDomain>
            <small class="wide-text font-size-12 color-gray"
              >The email domain is the remaining address after the @ symbol eg: orcid.org or website.com</small
            >
          </ng-template>
          <div *ngIf="editForm.get('emailDomain').invalid && editForm.get('emailDomain').touched; else validEmailDomain">
            <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('emailDomain').errors.maxlength">
              Email domain is too long. Please use 255 characters or less.
            </small>
          </div>
        </div>

        <!-- Billing address -->

        <h3 class="mb-20 font-size-16 font-weight-bold">Billing address</h3>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{ 'text-danger': editForm.get('street').invalid && editForm.get('street').touched }"
            >Street</label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="street"
            formControlName="street"
            (input)="editForm.get('street').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('street').invalid && editForm.get('street').touched,
              'input-field-default-border': !editForm.get('street').dirty || !editForm.get('street').touched
            }"
          />
          <div *ngIf="editForm.get('street').invalid && editForm.get('street').touched">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('street').errors.maxlength">
              Street name is too long. Please use 255 characters or less.
            </small>
          </div>
        </div>
        <div class="form-group mb-20">
          <label class="wide-text font-size-12 font-weight-bold" [ngClass]="{ 'text-danger': editForm.get('city').invalid && editForm.get('city').touched }"
            >City</label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="city"
            formControlName="city"
            (input)="editForm.get('city').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('city').invalid && editForm.get('city').touched,
              'input-field-default-border': !editForm.get('city').dirty || !editForm.get('city').touched
            }"
          />
          <div *ngIf="editForm.get('city').invalid && editForm.get('city').touched">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('city').errors.maxlength">
              City name is too long. Please use 40 characters or less.
            </small>
          </div>
        </div>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{
              'text-danger': editForm.get('state').invalid && editForm.get('state').touched
            }"
            >State/Province</label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="state"
            formControlName="state"
            (input)="editForm.get('state').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('state').invalid && editForm.get('state').touched,
              'input-field-default-border': !editForm.get('state').dirty || !editForm.get('state').touched
            }"
          />
          <div *ngIf="editForm.get('state').invalid && editForm.get('state').touched">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('state').errors.maxlength">
              State/province name is too long. Please use 80 characters or less.
            </small>
          </div>
        </div>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{ 'text-danger': editForm.get('country').invalid && editForm.get('country').dirty }"
            >Country <span class="font-size-12 font-weight-normal">(Required)</span></label
          >
          <select
            class="form-control font-size-14 wide-text-25"
            name="country"
            formControlName="country"
            [ngClass]="{
              'text-danger': editForm.get('country').invalid && editForm.get('country').dirty,
              'input-field-default-border': !editForm.get('country').dirty
            }"
          >
            <option hidden selected [ngValue]="null">Country</option>
            <option *ngFor="let country of COUNTRIES | keyvalue" [ngValue]="country.key" class="form-field-text-color-default">{{
              country.key
            }}</option>
          </select>
          <div *ngIf="editForm.get('country').invalid && editForm.get('country').dirty">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('country').errors.required">
              Please select a country
            </small>
          </div>
        </div>
        <div class="form-group mb-30">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{ 'text-danger': editForm.get('postcode').invalid && editForm.get('postcode').touched }"
            >ZIP/Postcode</label
          >
          <input
            type="text"
            class="form-control wide-text-25 postcode-input-field"
            name="postcode"
            formControlName="postcode"
            (input)="editForm.get('postcode').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('postcode').invalid && editForm.get('postcode').touched,
              'input-field-default-border': !editForm.get('postcode').dirty || !editForm.get('postcode').touched
            }"
          />
          <div *ngIf="editForm.get('postcode').invalid && editForm.get('postcode').touched">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('postcode').errors.maxlength">
              ZIP/Postcode is too long. Please use 20 characters or less.
            </small>
          </div>
        </div>

        <!-- Trademark license -->

        <h3 class="font-weight-bold font-size-16 mb-10">
          Trademark license <span class="font-size-12 font-weight-normal">(Required)</span>
        </h3>
        <div class="font-size-14 wide-text-25 mb-20">
          Can ORCID use this organization's trademarked name and logos?
        </div>
        <div class="mb-40">
          <div class="form-group d-flex">
            <input
              type="radio"
              class="form-control radio mr-8"
              name="trademarkLicense"
              value="Yes"
              formControlName="trademarkLicense"
              [ngClass]="{ 'outline-danger': editForm.get('trademarkLicense').invalid && editForm.get('trademarkLicense').dirty }"
            />
            <label class="wide-text-25 font-size-14 font-weight-normal"
              ><strong>YES</strong> - ORCID can use this organization's trademarked name and logos</label
            >
          </div>
          <div class="form-group d-flex">
            <input
              type="radio"
              class="form-control radio mr-8"
              name="trademarkLicense"
              value="No"
              formControlName="trademarkLicense"
              [ngClass]="{ 'outline-danger': editForm.get('trademarkLicense').invalid && editForm.get('trademarkLicense').dirty }"
            />
            <label class="wide-text-25 font-size-14 font-weight-normal"
              ><strong>NO</strong> - ORCID cannot use this organization's trademarked name and logos</label
            >
          </div>
          <div *ngIf="editForm.get('trademarkLicense').invalid && editForm.get('trademarkLicense').dirty">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('trademarkLicense').errors.required">
              Please select a trademark license option
            </small>
          </div>
        </div>

        <!-- Membership start date -->

        <h3 class="font-weight-bold font-size-16">Membership start date <span class="font-size-12 font-weight-normal">(Required)</span></h3>
        <div class="font-size-14 wide-text-25 mb-20">
          When does this organization's ORCID membership start? All memberships begin on the 1st of the month.
        </div>
        <div class="form-group mb-40">
          <div class="d-flex">
            <select
              class="form-control date-dropdown mr-8 font-size-14 wide-text-25"
              name="startMonth"
              formControlName="startMonth"
              [ngClass]="{
                'text-danger': editForm.get('startMonth').invalid && editForm.get('startMonth').dirty,
                'input-field-default-border': !editForm.get('startMonth').dirty
              }"
            >
              <option hidden selected [ngValue]="null">Month</option>
              <option *ngFor="let month of monthList" [ngValue]="month[0]" class="form-field-text-color-default">{{ month[0] }}</option>
            </select>
            <select
              class="form-control date-dropdown font-size-14 wide-text-25"
              name="startYear"
              formControlName="startYear"
              [ngClass]="{
                'text-danger': editForm.get('startYear').invalid && editForm.get('startYear').dirty,
                'input-field-default-border': !editForm.get('startYear').dirty
              }"
            >
              <option hidden selected [ngValue]="null">Year</option>
              <option *ngFor="let year of yearList" [ngValue]="year" class="form-field-text-color-default">{{ year }}</option>
            </select>
          </div>
          <small
            class="form-text text-danger"
            *ngIf="
              editForm.get('startMonth').invalid &&
              editForm.get('startYear').invalid &&
              (editForm.get('startMonth').dirty && editForm.get('startYear').dirty)
            "
          >
            Please select the membership start date
          </small>
          <small
            class="form-text text-danger"
            *ngIf="
              editForm.get('startMonth').invalid &&
              editForm.get('startYear').valid &&
              (editForm.get('startMonth').dirty && editForm.get('startYear').dirty)
            "
          >
            Please select the membership start month
          </small>
          <small
            class="form-text text-danger"
            *ngIf="
              editForm.get('startMonth').valid &&
              editForm.get('startYear').invalid &&
              (editForm.get('startMonth').dirty && editForm.get('startYear').dirty)
            "
          >
            Please select the membership start year
          </small>
        </div>

        <!-- Main contact -->

        <h2 class="mb-10 wide-text font-size-24 line-height-150">Main contact</h2>
        <div class="font-size-14 wide-text-25 mb-20 line-height-150">
          Please provide details of the main point of contact for this organization. This person will automatically be assigned the
          <strong>Main relationship</strong> and <strong>Voting contact</strong> roles for this organization.
        </div>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{
              'text-danger':
                editForm.get('contactGivenName').invalid &&
                (editForm.get('contactGivenName').dirty && editForm.get('contactGivenName').touched)
            }"
            >First or given name <span class="font-size-12 font-weight-normal">(Required)</span></label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="contactGivenName"
            formControlName="contactGivenName"
            (input)="editForm.get('contactGivenName').markAsUntouched()"
            [ngClass]="{
              'text-danger':
                editForm.get('contactGivenName').invalid &&
                editForm.get('contactGivenName').dirty &&
                editForm.get('contactGivenName').touched,
              'input-field-default-border': !editForm.get('contactGivenName').dirty || !editForm.get('contactGivenName').touched
            }"
          />
          <div
            *ngIf="
              editForm.get('contactGivenName').invalid && editForm.get('contactGivenName').dirty && editForm.get('contactGivenName').touched
            "
          >
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('contactGivenName').errors.maxlength">
              First or given name is too long. Please use 40 characters or less.
            </small>
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('contactGivenName').errors.required">
              Please provide a first or given name
            </small>
          </div>
        </div>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{
              'text-danger':
                editForm.get('contactFamilyName').invalid &&
                editForm.get('contactFamilyName').dirty &&
                editForm.get('contactFamilyName').touched
            }"
            >Last or family name <span class="font-size-12 font-weight-normal">(Required)</span></label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="contactFamilyName"
            formControlName="contactFamilyName"
            (input)="editForm.get('contactFamilyName').markAsUntouched()"
            [ngClass]="{
              'text-danger':
                editForm.get('contactFamilyName').invalid &&
                editForm.get('contactFamilyName').dirty &&
                editForm.get('contactFamilyName').touched,
              'input-field-default-border': !editForm.get('contactFamilyName').dirty || !editForm.get('contactFamilyName').touched
            }"
          />
          <div
            *ngIf="
              editForm.get('contactFamilyName').invalid &&
              editForm.get('contactFamilyName').dirty &&
              editForm.get('contactFamilyName').touched
            "
          >
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('contactFamilyName').errors.maxlength">
              Last or family name is too long. Please use 80 characters or less.
            </small>
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('contactFamilyName').errors.required">
              Please provide a last or family name
            </small>
          </div>
        </div>
        <div class="form-group mb-20">
          <label
            class="wide-text font-size-12 font-weight-bold"
            [ngClass]="{ 'text-danger': editForm.get('contactJobTitle').invalid && editForm.get('contactJobTitle').touched }"
            >Job title</label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="contactJobTitle"
            formControlName="contactJobTitle"
            (input)="editForm.get('contactJobTitle').markAsUntouched()"
            [ngClass]="{
              'text-danger': editForm.get('contactJobTitle').invalid && editForm.get('contactJobTitle').touched,
              'input-field-default-border': !editForm.get('contactJobTitle').dirty || !editForm.get('contactJobTitle').touched
            }"
          />
          <div *ngIf="editForm.get('contactJobTitle').invalid && editForm.get('contactJobTitle').touched">
            <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('contactJobTitle').errors.maxlength">
              Job title is too long. Please use 128 characters or less.
            </small>
          </div>
        </div>
        <div class="form-group mb-40">
          <label
            [ngClass]="{
              'text-danger':
                editForm.get('contactEmail').invalid && editForm.get('contactEmail').dirty && editForm.get('contactEmail').touched
            }"
            class="wide-text font-size-12 font-weight-bold"
            >Email address <span class="font-size-12 font-weight-normal">(Required)</span></label
          >
          <input
            type="text"
            class="form-control wide-text-25"
            name="contactEmail"
            formControlName="contactEmail"
            (input)="editForm.get('contactEmail').markAsUntouched()"
            [ngClass]="{
              'text-danger':
                editForm.get('contactEmail').invalid && editForm.get('contactEmail').dirty && editForm.get('contactEmail').touched,
              'input-field-default-border': !editForm.get('contactEmail').touched || !editForm.get('contactEmail').dirty
            }"
          />
          <ng-template #validEmail>
            <small class="wide-text font-size-12 color-gray">The contact email for this person</small>
          </ng-template>
          <div
            *ngIf="
              editForm.get('contactEmail').invalid && editForm.get('contactEmail').dirty && editForm.get('contactEmail').touched;
              else validEmail
            "
          >
            <small
              class="wide-text font-size-12 text-danger"
              *ngIf="editForm.get('contactEmail').errors.pattern && !editForm.get('contactEmail').errors.maxlength"
            >
              Please enter a valid email address, for example contactus@website.com
            </small>
            <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('contactEmail').errors.maxlength">
              Email is too long. Please use 80 characters or less.
            </small>
            <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('contactEmail').errors.required">
              Please provide an email address
            </small>
          </div>
        </div>
        <div class="warning-message d-flex p-16 mb-40">
          <img src="./../../../../content/images/warning-sign.svg" alt="Warning sign" class="p-8" />
          <div>
            <div class="mb-8 font-size-12 wide-text-25 font-weight-bold">
              Please note
            </div>
            <div class="font-size-12 wide-text-25 line-height-150">
              It can take up to 24 hours before a new organization is available in the Member Portal. Please contact your ORCID engagement
              lead for more information.
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="isSaving" class="btn btn-primary font-size-14">
          Submit new organization request
        </button>
        <button type="button" class="btn btn-outline-primary font-size-14" routerLink="/">Cancel</button>
      </div>
    </form>
  </div>
</div>
