<div *ngIf="memberData" class="h-100">
  <div class="p-3">
    <div class="go-back">
      Back to <a routerLink="">{{ memberData.publicDisplayName }}</a>
    </div>
    <hr class="mb-4" />
    <div class="edit-org-label mb-2 font-size-18 color-gray" *ngIf="!contactId">Add new consortium member</div>
    <h1 class="mb-1 wide-text font-weight-bold" *ngIf="!contactId">New organization</h1>
  </div>
  <div class="d-flex">
    <div class="main-section">
      <form (ngSubmit)="save()" name="editForm" role="form" [formGroup]="editForm" class="w-66">
        <div *ngIf="invalidForm" class="error-message d-flex p-3 mb-3">
          <img src="./../../../../content/images/error-sign.svg" alt="Warning sign" class="p-2" />
          <div>
            <div class="mb-2 font-size-12 wide-text font-weight-bold">
              Your changes cannot be saved
            </div>
            <div class="font-size-12 wide-text">
              Please fix the issues with the contact form before trying to save again
            </div>
          </div>
        </div>
        <div class="form">
          <h3 class="mb-4 wide-text">Organization details</h3>
          <h5 class="mb-3 font-size-18 font-weight-bold">Name & email domain</h5>
          <div class="form-group">
            <label
              class="wide-text font-size-12"
              [ngClass]="{ 'text-danger': editForm.get('orgName').invalid && editForm.get('orgName').touched }"
              >Organization name <span class="text-danger font-weight-normal">(Required)</span></label
            >
            <input
              type="text"
              class="form-control"
              name="orgName"
              formControlName="orgName"
              [ngClass]="{
                'text-danger': editForm.get('orgName').invalid && editForm.get('orgName').dorty,
                'input-field-default-border': !editForm.get('orgName').touched
              }"
            />
            <ng-template #validOrgName>
              <small class="wide-text font-size-12 form-text color-gray"
                >The legal or official name for this organization. Max 41 characters.</small
              >
            </ng-template>
            <div *ngIf="editForm.get('orgName').invalid && editForm.get('orgName').touched; else validOrgName">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('orgName').errors.required">
                Organization name cannot be empty
              </small>
              <div>
                <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('orgName').errors.maxlength">
                  Organization name is too long. Please use 41 characters or less.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label
              [ngClass]="{ 'text-danger': editForm.get('orgEmail').invalid && editForm.get('orgEmail').touched }"
              class="wide-text font-size-12"
              >Email <span class="text-danger font-weight-normal">(Required)</span></label
            >
            <input
              type="text"
              class="form-control"
              name="orgEmail"
              formControlName="orgEmail"
              (input)="editForm.get('orgEmail').markAsUntouched()"
              [ngClass]="{
                'text-danger': editForm.get('orgEmail').invalid && editForm.get('orgEmail').touched,
                'input-field-default-border': !editForm.get('orgEmail').touched
              }"
            />
            <ng-template #validEmail>
              <small class="wide-text font-size-12 color-gray">The contact email for this person</small>
            </ng-template>
            <div *ngIf="editForm.get('orgEmail').invalid && editForm.get('orgEmail').touched; else validEmail">
              <small
                class="wide-text font-size-12 text-danger"
                *ngIf="editForm.get('orgEmail').errors.pattern && !editForm.get('orgEmail').errors.maxlength"
              >
                Please enter a valid email address, for example contactus@website.com
              </small>
              <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('orgEmail').errors.maxlength">
                Email is too long. Please use 80 characters or less.
              </small>
              <small class="wide-text font-size-12 text-danger" *ngIf="editForm.get('orgEmail').errors.required">
                Email cannot be empty
              </small>
            </div>
          </div>
          <h5 class="mb-3 font-size-18 font-weight-bold">Billing address</h5>
          <div class="form-group">
            <label class="wide-text font-size-12" [ngClass]="{ 'text-danger': editForm.get('street').invalid }">Street</label>
            <input
              type="text"
              class="form-control"
              name="street"
              formControlName="street"
              [ngClass]="{ 'text-danger': editForm.get('street').invalid }"
            />
            <div *ngIf="editForm.get('street').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('street').errors.maxlength">
                Job title is too long. Please use 128 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text font-size-12" [ngClass]="{ 'text-danger': editForm.get('city').invalid }">City</label>
            <input
              type="text"
              class="form-control"
              name="city"
              formControlName="city"
              [ngClass]="{ 'text-danger': editForm.get('city').invalid }"
            />
            <div *ngIf="editForm.get('city').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('city').errors.maxlength">
                Job title is too long. Please use 128 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text font-size-12" [ngClass]="{ 'text-danger': editForm.get('state').invalid }">State/Province</label>
            <input
              type="text"
              class="form-control"
              name="state"
              formControlName="state"
              [ngClass]="{ 'text-danger': editForm.get('state').invalid }"
            />
            <div *ngIf="editForm.get('state').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('state').errors.maxlength">
                Job title is too long. Please use 128 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text font-size-12" [ngClass]="{ 'text-danger': editForm.get('country').invalid }">Country</label>
            <input
              type="text"
              class="form-control"
              name="country"
              formControlName="country"
              [ngClass]="{ 'text-danger': editForm.get('country').invalid }"
            />
            <div *ngIf="editForm.get('country').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('country').errors.maxlength">
                Job title is too long. Please use 128 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text font-size-12" [ngClass]="{ 'text-danger': editForm.get('postcode').invalid }">ZIP/Postcode</label>
            <input
              type="text"
              class="form-control"
              name="postcode"
              formControlName="postcode"
              [ngClass]="{ 'text-danger': editForm.get('postcode').invalid }"
            />
            <div *ngIf="editForm.get('postcode').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('postcode').errors.maxlength">
                Job title is too long. Please use 128 characters or less.
              </small>
            </div>
          </div>
          <h5
            [ngClass]="{ 'text-danger': editForm.get('trademarkLicense').invalid && editForm.get('trademarkLicense').touched }"
            class="font-weight-bold font-size-18"
            >Trademark license <span class="font-size-12 text-danger font-weight-normal">(Required)</span></h5
          >
          <div class="form-group">
            <label class="wide-text font-size-12" [ngClass]="{ 'text-danger': editForm.get('title').invalid }">Job title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              formControlName="title"
              [ngClass]="{ 'text-danger': editForm.get('title').invalid }"
            />
            <div *ngIf="editForm.get('title').invalid">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('title').errors.maxlength">
                Job title is too long. Please use 128 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label
              class="wide-text font-size-12"
              [ngClass]="{ 'text-danger': editForm.get('phone').invalid && editForm.get('phone').touched }"
              >Phone</label
            >
            <input
              type="text"
              class="form-control"
              name="phone"
              formControlName="phone"
              [ngClass]="{ 'text-danger': editForm.get('phone').invalid && editForm.get('phone').touched }"
            />
            <ng-template #validPhone>
              <small class="wide-text font-size-12 form-text color-gray">A direct contact phone for this person</small>
            </ng-template>
            <ng-container *ngIf="editForm.get('phone').invalid && editForm.get('phone').touched; else validPhone">
              <small class="wide-text font-size-12 form-text text-danger" *ngIf="editForm.get('phone').errors.maxlength">
                Phone number is too long. Please use 40 characters or less.
              </small>
            </ng-container>
          </div>
          <h3 class="mb-3 mr-2 mt-4">Roles <span class="text-danger font-size-12 font-weight-normal">(Required)</span></h3>
          <small
            class="wide-text font-size-12 form-text mb-4 color-gray"
            [ngClass]="{ 'text-danger': editForm.get('roles').invalid && editForm.get('roles').dirty }"
          >
            Please assign at least one role to this contact
          </small>
          <div formArrayName="roles" class="border-0 mb-3">
            <div *ngFor="let myOption of roles.controls; let i = index">
              <div formGroupName="{{ i }}">
                <input type="checkbox" [formControl]="myOption.get('selected')" class="role-checkbox" />
                <label class="font-size-14 font-weight-normal mb-3"> {{ myOption.get('name').value }} </label>
              </div>
            </div>
          </div>
          <div class="warning-message d-flex p-3 mb-4">
            <img src="./../../../../content/images/warning-sign.svg" alt="Warning sign" class="p-2" />
            <div>
              <div class="mb-2 font-size-12 wide-text font-weight-bold">
                Please note
              </div>
              <div class="font-size-12 wide-text">
                Changes made to organization contacts can take up to 48 hours to be reflected in the organization contact list.
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="isSaving" class="btn btn-primary">
            {{ contactId ? 'Submit contact change request' : 'Submit new contact' }}
          </button>
          <button type="button" class="btn btn-outline-primary" routerLink="/">Cancel</button>
          <button type="button" (click)="delete()" [disabled]="isSaving" class="btn btn-danger float-right" *ngIf="contactId">
            <fa-icon [icon]="'trash-alt'" class="mr-2"></fa-icon>Remove this contact
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
