.ng-invalid:not(form) {
  border: 1px solid #d32f2f;
  border-radius: 2px;
}

.error-message {
  img {
    padding: 0 16px 0 8px !important;
    margin-top: -1.75rem;
  }
  div {
    font-size: 0.875rem;
  }
  border: 2px solid #b71c1c;
  border-radius: 4px;
}

.warning-message {
  img {
    padding: 0 16px 0 8px !important;
    margin-top: -3rem;
  }
  div {
    font-size: 0.875rem;
  }
  border: 2px solid #ff9c00;
  border-radius: 4px;
}

.date-dropdown {
  width: 7.5rem;
}

select,
option {
  height: 40px;
}
