<div *ngIf="memberData" class="h-100">
  <div class="p-3">
    <div class="go-back">
      Back to <a routerLink="">{{ memberData.publicDisplayName }}</a>
    </div>
    <hr class="mb-4" />
    <div class="edit-org-label mb-2 font-size-18 color-gray" *ngIf="!contactId">Remove consortium member</div>
    <h1 class="mb-1 wide-text font-weight-bold" *ngIf="!contactId">{{ consortiumMember.orgName }}</h1>
  </div>
  <div class="d-flex">
    <div class="main-section">
      <form (ngSubmit)="save()" name="editForm" role="form" [formGroup]="editForm" class="w-66">
        <div class="form">
          <!-- Membership start date -->

          <h5 class="font-weight-bold font-size-18">
            Membership termination date
          </h5>
          <div class="font-size-14 wide-text mb-3">
            When does this organization's ORCID membership end?
          </div>
          <div class="form-group mb-4">
            <div class="d-flex">
              <select
                class="form-control date-dropdown mr-2 font-size-14"
                name="terminationMonth"
                formControlName="terminationMonth"
                [ngClass]="{
                  'text-danger': editForm.get('terminationMonth').invalid && editForm.get('terminationMonth').dirty,
                  'input-field-default-border': !editForm.get('terminationMonth').dirty
                }"
              >
                <option hidden selected [ngValue]="null">Month</option>
                <option *ngFor="let month of monthList" [ngValue]="month[0]" class="form-field-text-color-default">{{ month[0] }}</option>
              </select>
              <select
                class="form-control date-dropdown font-size-14"
                name="terminationYear"
                formControlName="terminationYear"
                [ngClass]="{
                  'text-danger': editForm.get('terminationYear').invalid && editForm.get('terminationYear').dirty,
                  'input-field-default-border': !editForm.get('terminationYear').dirty
                }"
              >
                <option hidden selected [ngValue]="null">Year</option>
                <option *ngFor="let year of yearList" [ngValue]="year" class="form-field-text-color-default">{{ year }}</option>
              </select>
            </div>
            <small
              class="form-text text-danger"
              *ngIf="
                editForm.get('terminationMonth').invalid &&
                editForm.get('terminationYear').invalid &&
                (editForm.get('terminationMonth').dirty && editForm.get('terminationYear').dirty)
              "
            >
              Please select the membership start date
            </small>
            <small
              class="form-text text-danger"
              *ngIf="
                editForm.get('terminationMonth').invalid &&
                editForm.get('terminationYear').valid &&
                (editForm.get('terminationMonth').dirty && editForm.get('terminationYear').dirty)
              "
            >
              Please select the membership start month
            </small>
            <small
              class="form-text text-danger"
              *ngIf="
                editForm.get('terminationMonth').valid &&
                editForm.get('terminationYear').invalid &&
                (editForm.get('terminationMonth').dirty && editForm.get('terminationYear').dirty)
              "
            >
              Please select the membership start year
            </small>
          </div>
          <button type="submit" [disabled]="isSaving" class="btn btn-danger">
            Remove member from consortium
          </button>
          <button type="button" class="btn btn-outline-primary" routerLink="/">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
