<div *ngIf="memberData" class="h-100">
  <div class="p-3">
    <div class="go-back">
      Back to <a routerLink="">{{ memberData.publicDisplayName }}</a>
    </div>
    <hr class="mb-4" />
    <div class="edit-org-label mb-2 font-size-18 color-gray" *ngIf="!contactId">Remove consortium member</div>
    <h1 class="mb-1 wide-text font-weight-bold" *ngIf="!contactId">{{ consortiumMember.orgName }}</h1>
  </div>
  <div class="d-flex">
    <div class="main-section">
      <form (ngSubmit)="save()" name="editForm" role="form" [formGroup]="editForm" class="w-66">
        <div class="form">
          <!-- Membership start date -->

          <h5 class="font-weight-bold font-size-18">
            Membership termination date
          </h5>
          <div class="font-size-14 wide-text mb-3">
            When does this organization's ORCID membership end?
          </div>
          <div class="form-group mb-5">
            <div class="d-flex">
              <select class="form-control date-dropdown mr-2" name="terminationMonth" formControlName="terminationMonth">
                <option *ngFor="let month of monthList" [ngValue]="month[0]">{{ month[0] }}</option>
              </select>
              <select class="form-control date-dropdown" name="terminationYear" formControlName="terminationYear">
                <option *ngFor="let year of yearList" [ngValue]="year">{{ year }}</option>
              </select>
            </div>
          </div>

          <div class="warning-message d-flex p-3 mb-4">
            <img src="./../../../../content/images/warning-sign.svg" alt="Warning sign" class="p-2" />
            <div>
              <div class="mb-2 font-size-12 wide-text font-weight-bold">
                Please note
              </div>
              <div class="font-size-12 wide-text">
                It can take up to 24 hours before a new organization is available in the Member Portal. Please contact your ORCID engagement
                lead for more information.
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="isSaving" class="btn btn-danger">
            Remove member from consortium
          </button>
          <button type="button" class="btn btn-outline-primary" routerLink="/">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
