@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
html,
body {
  height: 100%;
}

body,
h1 {
  font-weight: 400;
}

h2,
h3,
h4 {
  font-weight: 700;
}

a {
  font-weight: $font-weight-bold;
  cursor: pointer;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

.container-fluid {
  flex: 1;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row dl.jh-entity-details {
  width: 100%;
}

.row .jh-entity-details > {
  dd {
    margin-bottom: 15px;
    float: left;
  }
  dd:last-child {
    margin-bottom: 0;
  }
  dt {
    float: left;
    clear: both;
  }
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      border-bottom: 1px solid #eee;
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.form-control-label {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input.form-control[type='checkbox'] {
  width: initial;
  float: left;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

input.form-control[type='file'] {
  border: none;
}

/* ==========================================================================
ORCID global styles
========================================================================== */
.note {
  font-size: 0.8em;
  line-height: normal;
  font-style: italic;
}

.article {
  margin: 2em 4em;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  padding: 2em;
}
.id-icon {
  margin: 0 0.1em 0.2em 0;
}

.errorMessage {
  margin-top: 2em;
  padding: 0.8em 1em;
  color: #ab2222;
}

.progress-bar.indeterminate {
  width: 100%;
  position: relative;
  animation: progress-indeterminate 3s linear infinite;
}

@keyframes progress-indeterminate {
  from {
    left: -25%;
    width: 25%;
  }
  to {
    left: 100%;
    width: 25%;
  }
}

#hideMe {
  -webkit-animation: cssAnimationHide 60s forwards;
  animation: cssAnimationHide 60s forwards;
}
@keyframes cssAnimationHide {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimationHide {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#showMe {
  -webkit-animation: cssAnimationShow 60s forwards;
  animation: cssAnimationShow 60s forwards;
}
@keyframes cssAnimationShow {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cssAnimationShow {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.progress-line,
.progress-line:before {
  height: 3px;
  width: 100%;
  margin: 0;
}
.progress-line {
  background-color: #2bbe18;
  display: -webkit-flex;
  display: flex;
}
.progress-line:before {
  background-color: #1f7a14;
  content: '';
  -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}

.navbar-brand {
  overflow: hidden;
}

.navbar-collapse {
  width: 500px;
  flex-shrink: 0;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.org-name {
  display: inline-block;
  max-width: calc(100% - 350px);
}

ul.validation-errors {
  list-style: none;
  padding: 0;
}

div.filter-group {
  margin: 10px 0 10px 0;
}

div.filter-input {
  position: relative;
  width: 40%;
}

div.filter-group > button.search {
  background-color: white;
  border: 1px solid #ced4da;
  position: relative;
}

div.filter-input > button.reset {
  background-color: white;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

input.indented {
  margin-left: 20px;
}

p.mfaSecret {
  margin-left: 35px;
}

div.success {
  color: green;
}
