<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 jhiTranslate="reset.finish.title.string">Reset password</h1>

            <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing.string" *ngIf="keyMissing">
                <strong>The activation key is missing.</strong>
            </div>
            
            <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keyinvalid.string" *ngIf="invalidKey">
                <strong>This activation key is invalid.</strong>
            </div>
            
            <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keyexpired.string" *ngIf="expiredKey">
                <strong>This activation has expired.</strong>
            </div>
            <div *ngIf="expiredKey">
                <p>
                  <span jhiTranslate="reset.finish.messages.keyexpired.paragraph1.string">ORCID Member Portal activation links are only valid for 24 hours. It looks like this link has expired.</span>
                </p>
                <p>
                  <span *ngIf="activationEmailResent" jhiTranslate="reset.finish.messages.keyexpired.paragraph2.string">To make sure you can activate your Member Portal account we have sent a new activation link to your registered email address.</span>
                </p>
                <p>
                  <span *ngIf="activationEmailResent" jhiTranslate="reset.finish.messages.keyexpired.paragraph3.string">If you are still having problems activating your account or have not received your new activation link please contact our support team please contact us at membership@orcid.org.</span>
                </p>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing && !expiredKey && !invalidKey">
                <p jhiTranslate="reset.finish.messages.info.string">Choose a new password</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p jhiTranslate="reset.finish.messages.error.string">Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span jhiTranslate="reset.finish.messages.success.string"><strong>Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link.string">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch.string">
                The password and its confirmation do not match!
            </div>

            <div *ngIf="!keyMissing && !expiredKey && !invalidKey">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword.label.string">New password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="{{'global.form.newpassword.placeholder.string' | translate}}"
                               formControlName="newPassword">
                        <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required.string">
                                Your password is required.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength.string">
                                Your password is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength.string">
                                Your password cannot be longer than 50 characters.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label.string">New password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="{{'global.form.confirmpassword.placeholder.string' | translate}}"
                               formControlName="confirmPassword">
                        <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required.string">
                                Your password confirmation is required.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength.string">
                                Your password confirmation is required to be at least 4 characters.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength.string">
                                Your password confirmation cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="reset.finish.form.button.string">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
