<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.memberAssertionStats.title}">Welcome to the ORCID Member Portal</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body
	style="font-family: arial, helvetica, sans-serif; font-size: 15px; color: #494A4C;">
	<div style="padding: 20px; padding-top: 10px; margin: auto;">
		<div th:insert="~{mail/common :: emailHeader}"></div>
		<p>
		  <span th:text="#{email.memberAssertionStats.content}">See attached member affiliation stats</span>
		</p>
	</div>
</body>
</html>
