<form name="deleteForm" (ngSubmit)="confirmDelete(user?.id)">
  <div class="modal-header">
    <h4 class="modal-title" i18n="@@entity.delete.title.string">Confirm deletion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <app-alert-error></app-alert-error>
    <p id="jhi-delete-msUser-heading">
      {{ message }}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="clear()">
      <fa-icon [icon]="faBan"></fa-icon>&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
    </button>
    <button id="jhi-confirm-delete-msUser" type="submit" class="btn btn-danger">
      <fa-icon [icon]="faTimes"></fa-icon>&nbsp;<span i18n="@@entity.action.delete.string">Delete</span>
    </button>
  </div>
</form>
