<footer class="footer">
    <div class="container" role="presentation">
        <div class="row footer-row-container" role="presentation">
            <nav>
                <div class="copyright">
                    <a href="https://orcid.org" alt="ORCID logo">
                        <img src="/content/images/orcid-logo.svg" width="88px" alt="ORCID logo">
                    </a>
                    <p>&copy; 2020 ORCID, Inc</p>
                </div>
                <ul class="nav navbar-nav list-group list-group-horizontal">
                    <li class="list-group-item"><a href="https://orcid.org/footer/privacy-policy" jhiTranslate="footer.privacyPolicy.string">Privacy Policy</a></li>
                    <li class="list-group-item"><a href="https://orcid.org/content/orcid-terms-use" jhiTranslate="footer.termsOfUse.string">Terms of Use</a></li>
                    <li *ngIf="isAuthenticated()" class="list-group-item"><a href="/" jhiTranslate="footer.help.string">Help</a></li>
                    <li class="list-group-item"><a href="https://orcid.org/signin" jhiTranslate="footer.orcidRegistry.string">ORCID Registry</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
