<div *ngIf="memberData" class="h-100">
  <div class="p-3 mb-3">
    <div class="go-back">
      Back to <a routerLink="">{{ memberData.publicDisplayName }}</a>
    </div>
    <hr class="mb-4" />
    <div class="edit-org-label mb-3">Edit organization</div>
    <h1 class="font-weight-bold mb-3 wide-text">{{ memberData.publicDisplayName }}</h1>
    <div>Manage how this organization is displayed on the <a href="{{ MEMBER_LIST_URL }} " target="_blank">ORCID member list</a>.</div>
  </div>
  <div class="d-flex">
    <div class="side-bar">
      <div class="logo-container">
        <img src="{{ memberData.logoUrl }}" onerror="this.src='../../content/images/member-logo-placeholder.svg'" alt="Member logo" />
      </div>
      <div class="text-center">
        <img src="./../../../../content/images/lockpad.svg" alt="Locked" />
      </div>
      <div class="text-center m-1">
        <em class="wide-text small-text">Logo upload coming soon</em>
      </div>
    </div>
    <div class="main-section">
      <form (ngSubmit)="save()" name="editForm" role="form" [formGroup]="editForm">
        <div *ngIf="invalidForm" class="warning d-flex w-75 p-3 mb-3">
          <img src="./../../../../content/images/warning-sign.svg" alt="Warning sign" class="p-2" />
          <div>
            <div class="mb-2 small-text wide-text font-weight-bold">
              Your changes cannot be saved
            </div>
            <div class="small-text wide-text">
              Please fix the issues with the public details before trying to save again
            </div>
          </div>
        </div>
        <h3 class="mb-3 wide-text">Public details</h3>
        <div class="form mb-5">
          <div class="form-group w-50">
            <label class="wide-text small-text" [ngClass]="{ 'text-danger': editForm.get('name').invalid }">Organization name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              formControlName="name"
              [ngClass]="{ 'text-danger': editForm.get('name').invalid }"
            />
            <div *ngIf="editForm.get('name').invalid">
              <small class="wide-text small-text form-text text-danger" *ngIf="editForm.get('name').errors.required">
                The organization name cannot be empty
              </small>
              <div>
                <small class="wide-text small-text form-text text-danger" *ngIf="editForm.get('name').errors.maxlength">
                  Organization name is too long. Please use 255 characters or less.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="wide-text small-text">Organization description</label>
            <quill-editor
              class="d-block w-75"
              formControlName="description"
              format="html"
              [styles]="quillStyles"
              [modules]="quillConfig"
              [placeholder]="'A brief description of the organization'"
            >
            </quill-editor>
            <div *ngIf="editForm.get('description').invalid">
              <small class="wide-text small-text form-text text-danger" *ngIf="editForm.get('description').errors.maxlength">
                Organization description is too long. Please use 5000 characters or less.
              </small>
            </div>
          </div>
          <div class="form-group w-50">
            <label class="wide-text small-text" [ngClass]="{ 'text-danger': editForm.get('website').invalid }">Website</label>
            <input
              type="text"
              class="form-control"
              name="website"
              formControlName="website"
              [ngClass]="{ 'text-danger': editForm.get('website').invalid }"
            />
            <ng-template #validWebsite>
              <small class="wide-text small-text gray">Links should be in the full URL format e.g. http://www.website.com</small>
            </ng-template>
            <div *ngIf="editForm.get('website').invalid; else validWebsite">
              <small class="wide-text small-text text-danger" *ngIf="editForm.get('website').errors.pattern">
                Please enter a valid website URL, for example http://www.website.com
              </small>
              <div>
                <small class="wide-text small-text text-danger" *ngIf="editForm.get('website').errors.maxlength">
                  Website is too long. Please use 255 characters or less.
                </small>
              </div>
            </div>
          </div>
          <div class="form-group mb-4 w-50">
            <label [ngClass]="{ 'text-danger': editForm.get('email').invalid }" class="wide-text small-text">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              formControlName="email"
              [ngClass]="{ 'text-danger': editForm.get('email').invalid }"
            />
            <ng-template #validEmail>
              <small class="wide-text small-text gray">Emails should be in the standard format e.g. contactus@website.com</small>
            </ng-template>
            <div *ngIf="editForm.get('email').invalid; else validEmail">
              <small class="wide-text small-text text-danger" *ngIf="editForm.get('email').errors.pattern">
                Please enter a valid email address, for example contactus@website.com
              </small>
              <div>
                <small class="wide-text small-text text-danger" *ngIf="editForm.get('email').errors.maxlength">
                  Email is too long. Please use 80 characters or less.
                </small>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="isSaving" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-outline-primary" routerLink="">Cancel</button>
        </div>
      </form>
      <div *ngIf="memberData.orgIds" class="identifiers">
        <div class="d-flex mb-2">
          <h3 class="mb-0 mr-2">Identifiers</h3>
        </div>
        <div class="wide-text small-text coming-soon">
          <em>We did our best to register the right organization identifiers in our systems when you became an ORCID member. If you think any are missing (ROR, GRID, RINGGOLD or Funder Registry ID) <a href="mailto:membership@orcid.org">contact your engagement support lead</a> to register additional IDs</em>
        </div>
        <div class="row ml-0 d-flex justify-content-between contact">
          <h6 class="w-66">ID</h6>
          <h6 class="w-33">Type</h6>
        </div>
        <hr class="green-hr" />
        <ul class="ml-0 pl-0" *ngFor="let orgIdType of objectKeys(memberData.orgIds); let i = index">
          <div *ngFor="let orgId of memberData.orgIds[orgIdType]; let ii = index">
            <li class="row ml-0 d-flex justify-content-between contact">
              <div class="w-66">{{ orgId }}</div>
              <div class="w-33">{{ orgIdType }}</div>
            </li>
            <hr *ngIf="!(i == objectKeys(memberData.orgIds).length - 1 && ii == memberData.orgIds[orgIdType].length - 1)" />
          </div>
        </ul>
      </div>
      <div *ngIf="memberData.contacts" class="contacts">
        <div class="d-flex mb-2">
          <h3 class="mb-0 mr-2">Contacts</h3>
          <img class="lockpad" src="./../../../../content/images/lockpad.svg" alt="Locked" />
        </div>
        <div class="wide-text small-text coming-soon">
          <em>Editable contacts coming soon</em>
        </div>
        <div class="row ml-0 d-flex justify-content-between contact">
          <h6>Name</h6>
          <h6>Member roles</h6>
          <h6>Email</h6>
          <h6>Phone</h6>
        </div>
        <hr class="green-hr" />
        <ul class="ml-0 pl-0" *ngFor="let contact of memberData.contacts; let i = index">
          <li class="row ml-0 d-flex justify-content-between contact">
            <div>
              <div>{{ contact.name }}</div>
              <div class="gray small-text">{{ contact.title }}</div>
            </div>
            <div>{{ contact.memberOrgRole.join(', ') }}</div>
            <div>
              <a href="mailto:{{ contact.contactEmail }}">{{ contact.contactEmail }}</a>
            </div>
            <div *ngIf="contact.phone">
              {{ contact.phone }}
            </div>
            <div *ngIf="!contact.phone">
              -
            </div>
          </li>
          <hr *ngIf="i + 1 < memberData.contacts.length" />
        </ul>
      </div>
      <div *ngIf="memberData.isConsortiumLead">
        <h3 class="mb-4 font-weight-bold">
          Consortium Members
          <span class="font-weight-normal">({{ memberData.consortiumMembers.length }})</span>
        </h3>
        <h6>Member name</h6>
        <hr class="green-hr" />
        <div *ngFor="let consortiumMember of memberData.consortiumMembers; let i = index">
          <div>{{ consortiumMember.name }}</div>
          <hr *ngIf="i + 1 < memberData.consortiumMembers.length" />
        </div>
      </div>
    </div>
  </div>
</div>
