:host {
	display: block;
}

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 60px - 80px); /* subtract navbar and footer heights */
	padding: 2rem 1rem;
}

.login-panel {
	width: min(100%, 36rem);
}

.forgot-password-link {
	color: #0d6efd;
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		color: #0a58ca;
	}
}
