<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="msUser">
            <h1 class="mt-5" jhiTranslate="gatewayApp.msUserServiceMSUser.detail.title">User Settings</h1>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <dl class="jh-entity-details">
                    <dt class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.email">Email</dt>
                    <dd class="col-md-10">
                        {{msUser.login}}
                    </dd>
                    <dt  class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.firstName">First Name</dt>
                    <dd class="col-md-10">
                        {{msUser.firstName}}
                    </dd>
                    <dt  class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.lastName">Last Name</dt>
                    <dd class="col-md-10">
                        {{msUser.lastName}}
                    </dd>
                    <dt class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.mainContact">Main Contact</dt>
                    <dd class="col-md-10">
                        <span class="sr-only" *ngIf="msUser.mainContact=='true'" jhiTranslate="global.true">True</span>
                        <span class="sr-only" *ngIf="msUser.mainContact!='true'" jhiTranslate="global.false">False</span>
                        <fa-icon aria-hidden="true" *ngIf="msUser.mainContact=='true'" [icon]="faCheckCircle" [styles]="{'color': '#28a745'}"></fa-icon>
                        <fa-icon aria-hidden="true" *ngIf="msUser.mainContact!='true'" [icon]="faTimesCircle" [styles]="{'color': '#f22112'}"></fa-icon>
                    </dd>
                    <dt class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.salesforceId">Salesforce Id</dt>
                    <dd class="col-md-10">
                        {{msMemberService.orgNameMap[msUser.salesforceId]}}
                    </dd>
                    <dt class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.createdDate">Created Date</dt>
                    <dd class="col-md-10">
                        {{msUser.createdDate}} <i><span jhiTranslate="global.by">by</span> {{msUser.createdBy}}</i>
                    </dd>
                    <dt class="col-md-2" jhiTranslate="gatewayApp.msUserServiceMSUser.lastModifiedDate">Last Modified Date</dt>
                    <dd class="col-md-10">
                        <span>{{msUser.lastModifiedDate}} <i><span jhiTranslate="global.by">by</span> {{msUser.lastModifiedBy}}</i></span>
                    </dd>
                </dl>
            </div>
            <hr>
            <div class="form-group">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-outline-primary">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
                <button type="button"
                        [routerLink]="['/ms-user', msUser.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
