<form name="removeOwnershipForm" (ngSubmit)="confirmOwnership(msUser)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-ownership-msUser-heading" jhiTranslate="gatewayApp.msUserServiceMSUser.changeOwnership.question" [translateValues]="{login: msUser.login}">Are you sure you want to transfer ownership?
You are about to transfer ownership of this organization account to {{msUser.login}}. After transferring ownership, you will no longer have access to administrative functions, such as managing users.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-ownership-msUser" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
