<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
            <h1 id="jhi-ms-user-heading" class="mt-5" jhiTranslate="gatewayApp.msUserServiceMSUser.home.createOrEditLabel">Create or edit a User Settings</h1>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.email" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>

                    <div *ngIf="(editForm.get('login').invalid && editForm.get('login').touched) || editForm.get('login').dirty">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login').errors && editForm.get('login').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login').errors && editForm.get('login').errors.maxlength" jhiTranslate="entity.validation.maxlength"
                               [translateValues]="{max: 50}">
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login').errors
                               && (editForm.get('login').errors.email || editForm.get('login').errors.invalidEmail)"
                               jhiTranslate="entity.validation.email">
                            Please provide a valid email address.
                        </small>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="(editForm.get('firstName').invalid && editForm.get('firstName').touched) || editForm.get('firstName').dirty">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="(editForm.get('lastName').invalid && editForm.get('lastName').touched) || editForm.get('lastName').dirty">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName').errors && editForm.get('lastName').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-control" name="mainContact" id="field_mainContact"
                           formControlName="mainContact"/>
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.mainContact" for="field_mainContact">Main Contact</label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.salesforceId" for="field_salesforceId">Salesforce Id</label>
                    <fieldset [disabled]="disableSalesForceIdDD()">
                    <select  *ngIf="membersList.length  > 0"  class="custom-select" name="salesforceId" id="field_salesforceId" formControlName="salesforceId">
                      <option *ngFor="let member of membersList" [ngValue]="member.salesforceId">{{member.clientName}}</option>
                    </select>
                    </fieldset>
                    <div *ngIf="(editForm.get('salesforceId').invalid && editForm.get('salesforceId').touched) || editForm.get('salesforceId').dirty">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('salesforceId').errors && editForm.get('salesforceId').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="editForm.get('salesforceId').errors">
                               {{salesforceId.errors| json}}
                        </small>
                    </div>
                    <fieldset [disabled]="true">
                    <div class="form-group">
                      <input type="checkbox" class="form-control" name="activated" id="field_activated"
                           formControlName="activated"/>
                      <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.activated" for="field_activated">Activated</label>
                    </div>
                    </fieldset>
                    <div class="form-group" *ngIf="showIsAdminCheckbox">
                      <input type="checkbox" class="form-control" name="isAdmin" id="field_isAdmin"
                           formControlName="isAdmin"/>
                      <label class="form-control-label" jhiTranslate="gatewayApp.msUserServiceMSUser.isAdmin" for="field_isAdmin">Admin</label>
                    </div>
                    <div class="alert alert-warning" *ngIf="membersList.length === 0">
                        <span jhiTranslate="gatewayApp.msUserServiceMSMember.home.notFound">No members to show</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button
                    type="button"
                    id="cancel-save"
                    class="btn btn-outline-primary"
                    (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button *ngIf="isOrganizationOwner() && editForm.get('mainContact').value && (editForm.get('mainContact').touched || editForm.get('mainContact').dirty) else regular"
                    jhi-ownershipChange
                    (then)="save()"
                    (else)="false"
                    type="submit"
                    id="save-entity"
                    [disabled]="editForm.invalid || isSaving || membersList.length === 0"
                    class="btn btn-primary">
                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
                <ng-template #regular>
                  <button
                    (click)="save()"
                    type="submit"
                    id="save-entity"
                    [disabled]="editForm.invalid || isSaving || membersList.length === 0"
                    class="btn btn-primary">
                     <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                  </button>
                </ng-template>
                <button *ngIf="!editForm.get('activated').value && editForm.get('login')" type="button"
                                (click)="sendActivate()"
                                class="btn btn-primary btn-sm ml-1">
                            <fa-icon [icon]="faCheckCircle"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.activate">Activate</span>
                </button>
            </div>
        </form>
    </div>
</div>
