@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Assertion
========================================================================== */

iframe {
  width: 100%;
  height: 1000px;
}
