<div class="overlay" (click)="hide()"></div>
<div class="popup">
  <h1 class="font-weight-bold mb-4 d-flex font-size-24">
    <img src="../../../../content/images/checkmark.svg" class="mr-2" alt="Done" />
    <span class="mr-auto">Remove organization from consortium</span>
    <a (click)="hide()"><img src="../../../../content/images/close.svg" alt="Close"/></a>
  </h1>
  <div class="font-size-14">
    Your request to remove <strong>{{ orgName }}</strong> has been submitted to ORCID.
  </div>
</div>