<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.home.title">Member Services Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member-services-user" [routerLink]="['/member-services-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.home.createLabel">
            Create new Member Services User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="memberServicesUsers?.length === 0">
        <span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.home.notFound">No memberServicesUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="memberServicesUsers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="user_id"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.user_id">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salesforceId"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.salesforceId">Salesforce Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentSalesforceId"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.parentSalesforceId">Parent Salesforce Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="disabled"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.disabled">Disabled</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainContact"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.mainContact">Main Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assertionServiceEnabled"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.assertionServiceEnabled">Assertion Service Enabled</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oboClientId"><span jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.oboClientId">Obo Client Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let memberServicesUser of memberServicesUsers ;trackBy: trackId">
                <td><a [routerLink]="['/member-services-user', memberServicesUser.id, 'view' ]">{{memberServicesUser.id}}</a></td>
                <td>{{memberServicesUser.user_id}}</td>
                <td>{{memberServicesUser.salesforceId}}</td>
                <td>{{memberServicesUser.parentSalesforceId}}</td>
                <td>{{memberServicesUser.disabled}}</td>
                <td>{{memberServicesUser.mainContact}}</td>
                <td>{{memberServicesUser.assertionServiceEnabled}}</td>
                <td>{{memberServicesUser.oboClientId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/member-services-user', memberServicesUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member-services-user', memberServicesUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'member-services-user', { outlets: { popup: memberServicesUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="memberServicesUsers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
