<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-member-services-user-heading" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.home.createOrEditLabel">Create or edit a Member Services User</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.user_id" for="field_user_id">User Id</label>
                    <input type="text" class="form-control" name="user_id" id="field_user_id"
                           formControlName="user_id"/>
                    <div *ngIf="editForm.get('user_id').invalid && (editForm.get('user_id').dirty || editForm.get('user_id').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('user_id').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.salesforceId" for="field_salesforceId">Salesforce Id</label>
                    <input type="text" class="form-control" name="salesforceId" id="field_salesforceId"
                           formControlName="salesforceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.parentSalesforceId" for="field_parentSalesforceId">Parent Salesforce Id</label>
                    <input type="text" class="form-control" name="parentSalesforceId" id="field_parentSalesforceId"
                           formControlName="parentSalesforceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.disabled" for="field_disabled">Disabled</label>
                    <input type="checkbox" class="form-control" name="disabled" id="field_disabled"
                           formControlName="disabled"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.mainContact" for="field_mainContact">Main Contact</label>
                    <input type="checkbox" class="form-control" name="mainContact" id="field_mainContact"
                           formControlName="mainContact"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.assertionServiceEnabled" for="field_assertionServiceEnabled">Assertion Service Enabled</label>
                    <input type="checkbox" class="form-control" name="assertionServiceEnabled" id="field_assertionServiceEnabled"
                           formControlName="assertionServiceEnabled"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceMemberServicesUser.oboClientId" for="field_oboClientId">Obo Client Id</label>
                    <input type="text" class="form-control" name="oboClientId" id="field_oboClientId"
                           formControlName="oboClientId"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
