<div class="modal-header align-items-center">
  <h4 class="modal-title d-flex align-items-center gap-2">
    <fa-icon [icon]="faTimesCircle" style="color: #d9534f" class="mr-2"></fa-icon>
    <span i18n="@@apiCredentials.mfaDialog.title.string">2FA is not enabled</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p i18n="@@apiCredentials.mfaDialog.body.string">
    You must have <strong>two-factor authentication (2FA)</strong> enabled on your ORCID Member Portal account to manage
    member API credentials.
  </p>
  <a routerLink="/settings" (click)="dismiss()" i18n="@@apiCredentials.mfaDialog.link.string">
    Enable 2FA from your Member Portal account settings
  </a>
</div>
