<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        ADD NEW CONTACT
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body
    style="font-family: arial, helvetica, sans-serif; font-size: 15px; color: #494A4C;">
<div style="padding: 20px; padding-top: 10px; margin: auto;">
    <div th:insert="~{mail/common :: emailHeader}"></div>
    <p><strong>ADD NEW CONTACT</strong></p>
    <p>
        <strong>Requested by</strong>
        <span th:text="(@{|${requestedByName}|})">Andrew User</span>
        <span th:text="(@{|${requestedByEmail}|})">a.user@email.com</span>
        <span th:text="(@{|${requestedByMember}|})">Oregon State University</span>
    </p>
    <p>
        <strong>Member organization name</strong>
        <span th:text="(@{|${requestedByMember}|})">Oregon State University</span>
    </p>

    <p>
        <strong>First or given name</strong>
        <span th:text="(@{|${firstName}|})">First name</span>
    </p>

    <p>
        <strong>Last or family name</strong>
        <span th:text="(@{|${lastName}|})">Last name</span>
    </p>

    <p>
        <strong>Job title</strong>
        <span th:text="(@{|${jobTitle}|})">Job title</span>
    </p>

    <p>
        <strong>Email address</strong>
        <span th:text="(@{|${email}|})">Email</span>
    </p>

    <p>
        <strong>Phone</strong>
        <span th:text="(@{|${phone}|})">Phone</span>
    </p>

    <p>
        <strong>Roles</strong>
        <ul>
            <li th:each="role: ${roles}">
                <span th:text="${role}">Role</span>
            </li>
        </ul>
    </p>
</div>
</body>
</html>
