spring:
  application:
    name: assertion-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${APPLICATION_USER_SERVICE_URL}
      client:
        registration:
          # This ID is used in your Java RestClient/WebClient code in the Assertion Service
          internal-assertion-client:
            provider: user-service-provider
            client-id: ${APPLICATION_INTERNAL_ASSERTION_SERVICE_ID}
            client-secret: ${APPLICATION_INTERNAL_ASSERTION_SERVICE_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope: internal
        provider:
          user-service-provider:
            # The URL of your User Service (Auth Server)
            token-uri: ${APPLICATION_USER_SERVICE_URL}/oauth2/token
            # (Optional for client_credentials flow, but good to have)
            authorization-uri: ${APPLICATION_USER_SERVICE_URL}/oauth2/authorize
  data:
    mongodb:
      database: assertionservice
      host: localhost
      port: 27017
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
server:
  port: 9020
logging:
  level:
    root: info

application:
  landingPageUrl: ${APPLICATION_LANDING_PAGE_URL}
  userService:
    apiUrl: ${APPLICATION_USER_SERVICE_URL}
  memberService:
    apiUrl: ${APPLICATION_MEMBER_SERVICE_URL}
  httpclient:
    maxConnTotal: ${APPLICATION_HTTPCLIENT_MAX_CONN_TOTAL:100}
    maxConnPerRoute: ${APPLICATION_HTTPCLIENT_MAX_CONN_PER_ROUTE:20}
    connectionTimeToLive: ${APPLICATION_HTTPCLIENT_CONNECTION_TIME_TO_LIVE:20}
  mail:
    apiKey: ${APPLICATION_MAIL_API_KEY}
    apiUrl: ${APPLICATION_MAIL_API_URL}
    fromAddress: ${APPLICATION_MAIL_FROM_ADDRESS}
    fromName: ${APPLICATION_MAIL_FROM_NAME}
    testMode: ${APPLICATION_MAIL_TEST_MODE:false}
    memberAssertionStatsRecipient: ${APPLICATION_MAIL_MEMBER_ASSERTION_STATS_RECIPIENT}
  orcid:
    apiUrl: ${APPLICATION_ORCIDAPIENDPOINT}
    internalApiUrl: ${APPLICATION_INTERNAL_API_ENDPOINT}
    tokenExchangeUrl: ${APPLICATION_TOKEN_EXCHANGE_ENDPOINT}
    clientId: ${APPLICATION_TOKEN_EXCHANGE_CLIENT_ID}
    clientSecret: ${APPLICATION_TOKEN_EXCHANGE_CLIENT_SECRET}
    grantType: ${APPLICATION_TOKEN_EXCHANGE_GRANT_TYPE}
    subjectTokenType: ${APPLICATION_TOKEN_EXCHANGE_SUBJECT_TOKEN_TYPE}
    requestedTokenType: ${APPLICATION_TOKEN_EXCHANGE_REQUESTED_TOKEN_TYPE}
  files:
    storedFileLifespan: ${STORED_FILE_LIFESPAN}
    memberAssertionStatsDirectory: files/stats
    assertionsCsvUploadDirectory: files/uploads
    csvReportsDirectory: files/reports
  notifications:
    resendNotificationDays: ${APPLICATION_RESEND_NOTIFICATION_DAYS}
  cron:
    processCsvReportsDelay: 120000
    removeStoredFilesDelay: 300000
    processAssertionUploadsDelay: 120000
    generateMemberAssertionStatsCron: ${MEMBER_ASSERTION_STATS_CRON}
    syncAffiliationsDelay: ${APPLICATION_SYNC_AFFILIATIONS_DELAY}
    sendPermissionLinkNotificationsDelay: 120000
    resendNotificationsCron: ${APPLICATION_RESEND_NOTIFICATION_CRON}
  jwt:
    signatureUrl: ${APPLICATION_JWT_SIGNATURE_URL}
  encrypt:
    salt: ${APPLICATION_ENCRYPT_SALT}
    key: ${APPLICATION_ENCRYPT_KEY}
