spring:
  application:
    name: assertion-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000
      client:
        registration:
          # This ID is used in your Java RestClient/WebClient code in the Assertion Service
          internal-assertion-client:
            provider: user-service-provider
            client-id: ${APPLICATION_INTERNAL_ASSERTION_SERVICE_ID}
            client-secret: ${APPLICATION_INTERNAL_ASSERTION_SERVICE_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            scope: internal
        provider:
          user-service-provider:
            # The URL of your User Service (Auth Server)
            token-uri: http://localhost:9000/oauth2/token
            # (Optional for client_credentials flow, but good to have)
            authorization-uri: http://localhost:9000/oauth2/authorize
  data:
    mongodb:
      database: assertionservice
      host: localhost
      port: 27017
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB
server:
  port: 9020
logging:
  level:
    root: info

application:
  landingPageUrl: ${APPLICATION_LANDING_PAGE_URL}
  userService:
    apiUrl: http://localhost:9000
  memberService:
    apiUrl: http://localhost:9010
  mail:
    memberAssertionStatsRecipient: ${APPLICATION_MAIL_MEMBER_ASSERTION_STATS_RECIPIENT}
  files:
    storedFileLifespan: 7
  cron:
    processCsvReportsDelay: 3
    removeStoredFilesDelay: 8
    processAssertionUploadsDelay: 3
