<div class="row h-100">
    <div class="col-md-12">
        <div [ngSwitch]="isAuthenticated()" class="h-100">
            <div *ngSwitchCase="true" class="h-100">
                <div class="d-flex flex-column h-100">
                    <div class="alert alert-success mt-3">
                        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message.string"
                            [translateValues]="{username: account.email}"> You are logged in as user "{{account.email}}". </span>
                    </div>
                    <jhi-member-info-landing *ngIf="memberDataLoaded && memberData" [memberData]="memberData" class="h-100 mb-3"></jhi-member-info-landing>
                    <jhi-generic-landing *ngIf="memberDataLoaded && !memberData"></jhi-generic-landing>
                </div>
            </div>
            <div *ngSwitchCase="false">
                <div class="alert alert-info mt-3 mb-5">
                    <span jhiTranslate="home.alert.thisSiteIsFor.string">This site is for administrators of ORCID member organizations and is separate from the ORCID registry. Go to the ORCID Registry to</span>&nbsp;
                    <a jhiTranslate="home.alert.signIntoOrcid.string" class="alert-link" href="https://orcid.org/signin.string">sign into your ORCID record</a>
                </div>
                <jhi-login-modal></jhi-login-modal>
            </div>
        </div>
    </div>
</div>
