<div class="row">
    <div class="col-md-12">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div class="alert alert-success mt-3">
                    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                        [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
                </div>
                <!--This section is temporary for the pilot and will not be translated-->
                <div class="article">
                    <h1>Welcome Beta participants!</h1>
                    <p>The ORCID Member Portal is a new suite of tools intended to help institutions make the most of their ORCID membership.
                        To make sure that it functions properly and supports members’ needs, we’re running a beta program, and we’re thrilled that your organization is interested in participating.</p>
                    <p> The Member Portal is under active development and will eventually include tools that allow you to:</p>
                    <ul>
                        <li>Add/update data on researchers' ORCID records</li>
                        <li>Manage your organization's ORCID membership information</li>
                        <li>Manage your organization's ORCID API credentials</li>
                        <li>Access data and reports</li>
                    </ul>
                    <p><b>Tools currently available:</b></p>
                    <table class="table">
                        <tr>
                            <td><b>Add affiliations</b></td>
                            <td>"Add affiliations" simplifies the process of adding affiliation information (employment, education, etc) to ORCID records by allowing you to add and update affiliation information on behalf of your researchers using a CSV file, without any need to integrate ORCID directly into your current systems or to acquire an ORCID-enabled vendor system.
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <a name="resources"><h2>Resources</h2></a>
                    <table class="table">
                        <tr>
                            <td><a href="https://info.orcid.org/member-portal-beta-program-guide/" target="_blank">Member portal beta program guide</a></td>
                            <td><b>Start here!</b> This guide is a one-stop shop for information about the beta program and the Member Portal tool.</td>
                        </tr>
                        <tr>
                            <td><a href="https://info.orcid.org/member-portal-organizational-admin-guide/" target="_blank">Organization admin guide</a></td>
                            <td>Guide for staff at your institution who will be using the Member Portal</td>
                        </tr>
                        <tr>
                            <td><a href="https://info.orcid.org/member-portal-email-guide/" target="_blank">Email guide & example text</a></td>
                            <td>Guide for creating the email that you will send to your researchers requesting permission to access their ORCID records</td>
                        </tr>
                        <tr>
                            <td><a href="https://info.orcid.org/wp-content/uploads/2021/03/affiliations-1.csv" target="_blank">Example affiliations CSV file</a></td>
                            <td>Sample file showing affiliation data formatted for use with the Add affiliations tool</td>
                        </tr>
                    </table>
                    <hr>
                    <a name="contacts"><h2>Support contacts</h2></a>
                    <p>For help or questions about the Member Portal, please contact:</p>
                    <ul>
                        <li>Your consortium lead organization</li>
                        <li>Or email: <a href="mailto:membership@orcid.org" target="_blank">membership@orcid.org</a></li>
                    </ul>
                    <hr>
                    <h2>Project technical info</h2>
                    <p>The ORCID Member Portal is an open source project developed by the <a href="https://info.orcid.org/orcid-team/" target="_blank">ORCID team</a> using Java, Angular and MongoDB.</p>
                    <ul>
                        <li><b>Project management Trello board:</b>  <a href="https://trello.com/b/a8Cxpwqe/member-services-current-development" target="_blank">https://trello.com/b/a8Cxpwqe/member-services-current-development</a></li>
                        <li><b>Code:</b> <a href="https://github.com/ORCID/orcid-member-services" target="_blank">https://github.com/ORCID/orcid-member-services</a></li>
                    </ul>
                </div>
            </div>
            <div *ngSwitchCase="false">
                <div class="alert alert-info mt-3 mb-5">
                    <span jhiTranslate="home.alert.thisSiteIsFor">This site is for administrators of ORCID member organizations and is separate from the ORCID registry. Go to the ORCID Registry to</span>&nbsp;
                    <a jhiTranslate="home.alert.signIntoOrcid" class="alert-link" href="https://orcid.org/signin">sign into your ORCID record</a>
                </div>
                <jhi-login-modal></jhi-login-modal>
            </div>
        </div>
    </div>
</div>
