<div class="row h-100">
    <div class="col-md-12">
        <div [ngSwitch]="account !== null" class="h-100">
            <div *ngSwitchCase="true" class="h-100">
                <div class="d-flex flex-column h-100">
                    <div class="alert alert-success mt-3">
                        <span *ngIf="account" id="home-logged-message" jhiTranslate="home.loggedIn.message.string"
                            [translateValues]="{username: account.email}"> You are logged in as user <strong>{{account.name}}</strong></span>
                    </div>
                    <div *ngIf="fetchingMemberData === false" class="h-100 home-container mb-3">
                        <router-outlet *ngIf="memberData" class="d-flex h-100"></router-outlet>
                        <app-generic-landing *ngIf="!memberData" class="p-4 d-flex"></app-generic-landing>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="false">
                <div class="alert alert-info mt-3 mb-5">
                    <span jhiTranslate="home.alert.thisSiteIsFor.string">This site is for administrators of ORCID member organizations and is separate from the ORCID registry. Go to the ORCID Registry to</span>&nbsp;
                    <a jhiTranslate="home.alert.signIntoOrcid.string" class="alert-link" href="https://orcid.org/signin.string">sign into your ORCID record</a>
                </div>
                <jhi-login-modal></jhi-login-modal>
            </div>
        </div>
    </div>
</div>
