<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h1
        id="jhi-ms-member-heading"
        class="mt-5"
        i18n="@@gatewayApp.msUserServiceMSMember.home.createOrEditLabel.string"
      >
        Add or edit member
      </h1>
      <div>
        <app-error-alert></app-error-alert>
        <div class="alerts top right" role="alert" *ngIf="validation.errors && validation.errors.length > 0">
          <ngb-alert
            class="alert alert-danger alert-dismissible"
            role="alert"
            ng-reflect-type="danger"
            (close)="validation.errors = null"
            [dismissible]="false"
          >
            <ul class="validation-errors">
              <li *ngFor="let error of validation.errors">
                {{ error }}
              </li>
            </ul>
            <a
              (click)="validation.errors = null"
              (keyup.esc)="validation.errors = null"
              (keyup.enter)="validation.errors = null"
              tabindex="0"
              class="close"
              >×</a
            >
          </ngb-alert>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            i18n="@@gatewayApp.msUserServiceMSMember.salesforceId.string"
            for="field_salesforceId.string"
            >Salesforce Id</label
          >
          <input
            type="text"
            class="form-control"
            name="salesforceId"
            id="field_salesforceId"
            [attr.disabled]="editForm.get('id')?.value !== undefined ? true : null"
            formControlName="salesforceId"
          />
          <div
            *ngIf="
              editForm.get('salesforceId')?.invalid &&
              (editForm.get('salesforceId')?.dirty || editForm.get('salesforceId')?.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="(editForm.get('salesforceId')?.errors)!['required']"
              i18n="@@entity.validation.required.string"
            >
              This field is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            i18n="@@gatewayApp.msUserServiceMSMember.parentSalesforceId.string"
            for="field_parentSalesforceId.string"
            >Parent Salesforce Id</label
          >
          <input
            type="text"
            class="form-control"
            name="parentSalesforceId"
            id="field_parentSalesforceId"
            formControlName="parentSalesforceId"
          />
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            i18n="@@gatewayApp.msUserServiceMSMember.clientName.string"
            for="field_clientName.string"
            >Member Name</label
          >
          <input
            type="text"
            class="form-control"
            name="clientName"
            id="field_clientName"
            formControlName="clientName"
          />
          <div
            *ngIf="
              editForm.get('clientName')?.invalid &&
              (editForm.get('clientName')?.dirty || editForm.get('clientName')?.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="(editForm.get('clientName')?.errors)!['required']"
              i18n="@@entity.validation.required.string"
            >
              This field is required.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            i18n="@@gatewayApp.msUserServiceMSMember.clientId.label.string"
            for="field_clientId.string"
            >Client ID</label
          >
          <p>
            <em
              ><span i18n="@@gatewayApp.msUserServiceMSMember.clientId.note.string"
                >Note: Client ID must have User OBO enabled AND</span
              >
              <a href="{{ baseUrl }}"> {{ baseUrl }} </a>
              <span i18n="@@gatewayApp.msUserServiceMSMember.clientId.addedAsRedirect.string"
                >added as a Redirect URI in</span
              >
              <a href="{{ orcidBaseUrl }}/manage-members.string"> {{ orcidBaseUrl }}/manage-members</a></em
            >
          </p>
          <input type="text" class="form-control" name="clientId" id="field_clientId" formControlName="clientId" />
          <div
            *ngIf="
              editForm.get('clientId')?.invalid &&
              (editForm.get('clientId')?.dirty || editForm.get('clientId')?.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="(editForm.get('clientId')?.errors)!['required']"
              i18n="@@entity.validation.required.string"
            >
              This field is required.
            </small>
            <small class="form-text text-danger" *ngIf="!this.editForm.get('clientId')?.hasError('validClientId')">
              Client Id should be in the format XXXX-XXXX-XXXX-XXXX or APP-XXXXXXXXXXXXXXXX. X can be a digit or an
              uppercase character."
            </small>
          </div>
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            i18n="@@gatewayApp.msUserServiceMSMember.isConsortiumLead.string"
            for="field_isConsortiumLead.string"
            >Consortium Lead</label
          >
          <input
            type="checkbox"
            class="form-control"
            name="isConsortiumLead"
            id="field_isConsortiumLead"
            formControlName="isConsortiumLead"
          />
        </div>
        <div class="form-group">
          <label
            class="form-control-label"
            i18n="@@gatewayApp.msUserServiceMSMember.assertionServiceEnabled.string"
            for="field_assertionServiceEnabled.string"
            >Assertions Enabled</label
          >
          <input
            type="checkbox"
            class="form-control"
            name="assertionServiceEnabled"
            id="field_assertionServiceEnabled"
            formControlName="assertionServiceEnabled"
          />
        </div>
      </div>
      <div *ngIf="isSaving" class="progress progress-striped">
        <div class="progress-bar indeterminate" role="progressbar"></div>
      </div>
      <br />
      <div class="form-group">
        <button type="button" id="cancel-save" class="btn btn-outline-primary mr-2" (click)="navigateToMembersList()">
          <fa-icon [icon]="faBan"></fa-icon>&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon [icon]="faSave"></fa-icon>&nbsp;<span i18n="@@entity.action.save.string">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
