<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.activation.title}">ORCID Member Portal activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body
	style="font-family: arial, helvetica, sans-serif; font-size: 15px; color: #494A4C;">
	<div style="padding: 20px; padding-top: 10px; margin: auto;">
		<div th:insert="~{mail/common :: emailHeader}"></div>
		<p th:text="#{email.creation.text1}">Your account on the ORCID
			Member Portal needs to be activated. Please click on the URL
			below to activate your account and set a password:</p>
		<p>
      		<a style="color: #2E7F9F;" th:with="url=(@{|${baseUrl}/reset/finish?key=${user.resetKey}|})"
        	th:href="${url}" th:text="${url}">Login link</a>
    	</p>
		<p>
			<span th:text="#{email.common.warmRegards}">Warm Regards,</span> <br />
			<span th:text="#{email.common.signature}">The ORCID Member Portal Team</span> <br />
			<a style="color: #2E7F9F;" href="mailto:membership@orcid.org">membership@orcid.org</a>
		</p>
		<p th:text="#{email.common.youHaveReceived}">You have received
			this email as a service announcement related to your ORCID Member Portal account.</p>
		<div th:insert="~{mail/common :: emailFooter}"></div>
	</div>
</body>
</html>
