<div class="row">
    <div class="main">
        <div class="logo">
            <img src="/content/images/orcid-logo-208-64.png" width="208" height="64" />
        </div>
        <h1>Thank you for your service!</h1>
        <p>Our records show that you served on an ORCID Working Group, Task Force, Steering Group, or the ORCID Board.</p> 
        <p>We'd like to recognize your contribution by updating the <a href="https://support.orcid.org/hc/en-us/articles/360008897694-Add-a-membership-or-service-to-your-ORCID-record" target="ORCID_membership_service">Membership and service</a> section your ORCID record.</p>
        <p>Click to connect your ORCID iD (or register for an iD) and grant permission to update your record.</p>
        <!--ORCID widget-->
        <script src="js/orcid-widget.js"></script>
        <div id="orcidWidget" data-size='lg' data-clientid='APP-99MR3GU01PBQK8FP' data-env='sandbox' data-scopes='/activities/update' data-redirecturi='https://orcid.github.io/orcid-auth-widget/widget.html' data-submituri='https://assertion-service.orcid.org/api/id-token'></div>
    </div>
</div>
