<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-settings-heading" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.home.createOrEditLabel">Create or edit a User Settings</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>              
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>
                </div>                
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.password" for="field_password">Password</label>
                    <input type="password" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.confirm_password" for="field_confirm_password">Confirm password</label>
                    <input type="password" class="form-control" name="confirm_password" id="field_confirm_password"
                           formControlName="confirm_password"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.mainContact" for="field_mainContact">Main Contact</label>
                    <input type="checkbox" class="form-control" name="mainContact" id="field_mainContact"
                           formControlName="mainContact"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.salesforceId" for="field_salesforceId">Salesforce Id</label>
                    <input type="text" class="form-control" name="salesforceId" id="field_salesforceId"
                           formControlName="salesforceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.parentSalesforceId" for="field_parentSalesforceId">Parent Salesforce Id</label>
                    <input type="text" class="form-control" name="parentSalesforceId" id="field_parentSalesforceId"
                           formControlName="parentSalesforceId"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
