<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.home.title">User Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-settings" [routerLink]="['/user-settings/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.userSettingsServiceUserSettings.home.createLabel">
            Create new User Settings
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userSettings?.length === 0">
        <span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.home.notFound">No userSettings found</span>
    </div>
    <div class="table-responsive" *ngIf="userSettings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="login"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.login">User login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salesforceId"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.salesforceId">Salesforce Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="assertionsServiceDisabled"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.assertionsServiceDisabled">Assertion Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mainContact"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.mainContact">Main Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="gatewayApp.userSettingsServiceUserSettings.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userSettings of userSettings ;trackBy: trackId">
                <td><a [routerLink]="['/user-settings', userSettings.id, 'view' ]">{{userSettings.id}}</a></td>
                <td>{{userSettings.login}}</td>
                <td>{{userSettings.salesforceId}}</td>
                <td>{{userSettings.assertionsServiceDisabled}}</td>
                <td>{{userSettings.mainContact}}</td>
                <td>{{userSettings.createdBy}}</td>
                <td>{{userSettings.createdDate | date:'medium'}}</td>
                <td>{{userSettings.lastModifiedBy}}</td>
                <td>{{userSettings.lastModifiedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-settings', userSettings.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-settings', userSettings.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'user-settings', { outlets: { popup: userSettings.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="userSettings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
