<form name="uploadForm" (ngSubmit)="upload()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.import.title">Import users</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-userSettings-heading" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.import.label">Please select the CSV file to upload</p>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.userSettingsServiceUserSettings.import.filePath" for="field_filePath">File Path</label>
            <input type="file" class="form-control" name="filePath" id="field_filePath"
                (change)="selectFile($event)"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-delete-userSettings" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.upload">Upload</span>
        </button>
    </div>
</form>
