<div class="affiliation-manager-credentials-page h-100 p-3 line-height-normal">
  <form (ngSubmit)="save()" [formGroup]="applyForm" class="affiliation-manager-credentials-form">
    <h1 class="page-title" i18n="@@apiCredentials.affiliationManager.title.string">
      Affiliation Manager production credentials request form
    </h1>
    <div class="form-field">
      <label class="form-label" for="field_organizationName">
        <span i18n="@@apiCredentials.affiliationManager.organizationName.string">Name of your organization</span>
        <span class="required-marker">(Required)</span>
      </label>
      <input type="text" class="form-control" id="field_organizationName" formControlName="organizationName" readonly />
      @if (
        applyForm.get('organizationName')?.invalid &&
        (applyForm.get('organizationName')?.dirty || applyForm.get('organizationName')?.touched)
      ) {
        <small class="form-text text-danger" i18n="@@entity.validation.required.string">
          This field is required.
        </small>
      }
    </div>

    <div class="form-field">
      <label class="form-label" for="field_consortiumMember">
        <span i18n="@@apiCredentials.affiliationManager.consortiumMember.string">Are you a Consortium Member?</span>
        <span class="required-marker">(Required)</span>
      </label>
      <select class="form-select" id="field_consortiumMember" disabled>
        <option selected i18n="@@apiCredentials.affiliationManager.consortiumMember.yes.string">Yes</option>
      </select>
    </div>

    <div class="form-field">
      <label class="form-label" for="field_consortiumLeadName">
        <span i18n="@@apiCredentials.affiliationManager.consortiumLeadName.string">Consortium Lead Name</span>
        <span class="required-marker">(Required)</span>
      </label>
      <input
        type="text"
        class="form-control"
        id="field_consortiumLeadName"
        formControlName="consortiumLeadName"
        readonly
      />
      @if (
        applyForm.get('consortiumLeadName')?.invalid &&
        (applyForm.get('consortiumLeadName')?.dirty || applyForm.get('consortiumLeadName')?.touched)
      ) {
        <small class="form-text text-danger" i18n="@@entity.validation.required.string">
          This field is required.
        </small>
      }
    </div>

    <div class="form-field">
      <label class="form-label" for="field_requesterEmail">
        <span i18n="@@apiCredentials.affiliationManager.requesterEmail.string"
          >Technical Contact / Requester Email address</span
        >
        <span class="required-marker">(Required)</span>
      </label>
      <p class="field-help" i18n="@@apiCredentials.affiliationManager.requesterEmail.help.string">
        We will use this address to correspond with you regarding your request.
      </p>
      <input type="email" class="form-control" id="field_requesterEmail" formControlName="requesterEmail" readonly />
      @if (
        applyForm.get('requesterEmail')?.invalid &&
        (applyForm.get('requesterEmail')?.dirty || applyForm.get('requesterEmail')?.touched)
      ) {
        <small class="form-text text-danger" i18n="@@entity.validation.required.string">
          This field is required.
        </small>
      }
    </div>

    <div class="form-field">
      <label class="form-label" for="field_institutionHomepageUrl">
        <span i18n="@@apiCredentials.affiliationManager.institutionHomepage.string">Institution Homepage</span>
        <span class="required-marker">(Required)</span>
      </label>
      <input
        type="url"
        class="form-control"
        id="field_institutionHomepageUrl"
        formControlName="institutionHomepageUrl"
        readonly
      />
      @if (
        applyForm.get('institutionHomepageUrl')?.invalid &&
        (applyForm.get('institutionHomepageUrl')?.dirty || applyForm.get('institutionHomepageUrl')?.touched)
      ) {
        <small class="form-text text-danger" i18n="@@entity.validation.required.string">
          This field is required.
        </small>
      }
    </div>

    <div class="form-field">
      <label class="form-label" for="field_notes">
        <span i18n="@@apiCredentials.affiliationManager.notes.string">Note to ORCID staff</span>
        <fa-icon
          [icon]="faInfoCircle"
          class="ms-1 notes-info"
          tabindex="0"
          ngbTooltip="Use this section to let ORCID staff know of anything else you feel may be relevant."
          i18n-ngbTooltip="@@apiCredentials.affiliationManager.notes.tooltip.string"
        />
      </label>
      <textarea class="form-control" rows="6" id="field_notes" formControlName="notes"></textarea>
    </div>

    <div class="action-buttons">
      <button type="button" id="cancel-save" class="btn btn-outline-primary me-2" (click)="cancel()">
        <fa-icon [icon]="faBan" />&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
      </button>
      <button type="submit" id="request-credentials" class="btn btn-primary" [disabled]="isSaving()">
        <fa-icon [icon]="faEnvelope" />&nbsp;<span i18n="@@apiCredentials.affiliationManager.submit.string"
          >Request credentials</span
        >
      </button>
    </div>
  </form>
</div>
