<div class="modal-header">
  <h4 class="modal-title" i18n="@@apiCredentials.resetSecret.title.string">Reset client secret</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <p i18n="@@apiCredentials.resetSecret.warning.string">
    Resetting your key will generate a new client secret. The current client secret will be discarded in the next 24
    hours.
  </p>
  @if (currentSecret) {
    <p>
      <code>{{ currentSecret }}</code>
    </p>
  }
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="cancel()">
    <fa-icon [icon]="faBan" />&nbsp;<span i18n="@@entity.action.cancel.string">Cancel</span>
  </button>
  <button type="button" class="btn btn-danger" (click)="confirm()">
    <fa-icon [icon]="faRedo" />&nbsp;<span i18n="@@apiCredentials.resetSecret.confirm.string">Reset client secret</span>
  </button>
</div>
