<div>
    <h1 id="page-heading" class="mt-3" jhiTranslate="gatewayApp.assertionServiceAssertion.home.title.string">Affiliations</h1>
    <div class="row justify-content-end">
        <div class="col-md-12 mb-2">
            <button id="jh-generate-links" class="btn btn-primary float-right jh-generate-links generate-links ml-1" (click)="generatePermissionLinks()">
                <fa-icon [icon]="faFileDownload"></fa-icon>
                <span  jhiTranslate="gatewayApp.assertionServiceAssertion.home.getLinks.string">
                Download permission links
                </span>
            </button>
            <button id="jh-generate-report" class="btn btn-primary float-right jh-generate-reports generate-report ml-1" (click)="generateReport()">
                <fa-icon [icon]="faChartBar"></fa-icon>
                <span  jhiTranslate="gatewayApp.assertionServiceAssertion.home.generateReport.string">
                Download affiliation status report
                </span>
            </button>
            <button id="jh-generate-links" class="btn btn-primary float-right jh-generate-links generate-links ml-1" (click)="generateCSV()">
                <fa-icon [icon]="faFileDownload"></fa-icon>
                <span  jhiTranslate="gatewayApp.assertionServiceAssertion.home.exportForEdit.string">
                Download affiliations for edit
                </span>
            </button>
            <button id="jh-upload-entities" class="btn btn-primary float-right jh-upload-entities upload-assertions ml-1" [routerLink]="['/', 'assertion', { outlets: { popup: 'import'} }]">
                <fa-icon [icon]="faFileImport"></fa-icon>
                <span  jhiTranslate="gatewayApp.assertionServiceAssertion.home.uploadLabel.string">
                Import affiliations from CSV
                </span>
            </button>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assertion ml-1" [routerLink]="['/assertion/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span  jhiTranslate="gatewayApp.assertionServiceAssertion.home.createLabel.string">
                Add affiliation
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <jhi-alert></jhi-alert>
            <br/>
            <div class="alert alert-warning" *ngIf="assertions?.length === 0">
                <span jhiTranslate="gatewayApp.assertionServiceAssertion.home.notFound.string">No affiliations found</span>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="assertions?.length > 0">
        <table class="table table-striped">
            <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th><span jhiTranslate="gatewayApp.assertionServiceAssertion.id.string">ID</span></th>
                    <th jhiSortBy="email"><span jhiTranslate="gatewayApp.assertionServiceAssertion.email.string">Email</span> <fa-icon [icon]="'sort'.string"></fa-icon></th>
                    <th jhiSortBy="orcidId"><span jhiTranslate="gatewayApp.assertionServiceAssertion.orcidId.string">ORCID iD</span> <fa-icon [icon]="'sort'.string"></fa-icon></th>
                    <th jhiSortBy="affiliationSection" width="30%" ><span jhiTranslate="gatewayApp.assertionServiceAssertion.affiliationData.string">Affiliation Data</span> <fa-icon [icon]="'sort'.string"></fa-icon></th>
                    <th jhiSortBy="status"><span jhiTranslate="gatewayApp.assertionServiceAssertion.status.string">Status</span> <fa-icon [icon]="'sort'.string"></fa-icon></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assertion of assertions ;trackBy: trackId">
            	<td>{{assertion.id}}</td>
                <td>{{assertion.email}}</td>
                <td><span *ngIf="assertion.orcidId"><a href="{{orcidBaseUrl}}/{{assertion.orcidId}}" target="_blank">{{orcidBaseUrl}}/{{assertion.orcidId}}</a></span></td>
                <td>
                    <span jhiTranslate="{{'gatewayApp.AffiliationSection.' + assertion.affiliationSection}}.string">{{assertion.affiliationSection}}</span><br>
                    {{assertion.orgName}}: <span *ngIf="assertion.orgCity">{{assertion.orgCity}}</span><span *ngIf="assertion.orgRegion">, {{assertion.orgRegion}}</span><span *ngIf="assertion.orgCountry">, {{assertion.orgCountry}}</span><br>
                    <span *ngIf="assertion.departmentName">{{assertion.departmentName}}</span><span *ngIf="assertion.roleTitle"> ({{assertion.roleTitle}})</span><br>
                    <span *ngIf="assertion.startYear">{{assertion.startYear}}</span><span *ngIf="assertion.startMonth">-{{assertion.startMonth}}</span><span *ngIf="assertion.startDay">-{{assertion.startDay}}</span>
                    <span *ngIf="assertion.startYear && assertion.endYear">&nbsp;to&nbsp;</span>
                    <span *ngIf="assertion.endYear">{{assertion.endYear}}</span><span *ngIf="assertion.endMonth">-{{assertion.endMonth}}</span><span *ngIf="assertion.endDay">-{{assertion.endDay}} </span>
                    <br><a jhiTranslate="gatewayApp.assertionServiceAssertion.details.string" [routerLink]="['/assertion', assertion.id, 'view' ].string">View details</a>
                </td>
                <td>{{assertion.status}}
                    <div *ngIf="assertion.status==errorAddingToOrcid || assertion.status== errorUpdatingInOrcid">
                        <p class="note" jhiTranslate="gatewayApp.assertionServiceAssertion.home.forHelpTroubleshooting.string">For help troubleshooting, please contact the Member Portal Team and copy/paste or include a screenshot of the error message below.</p>
                        <div  class="alert alert-warning">
                            <pre><code>{{assertion.orcidError}}</code></pre>
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/assertion', assertion.id, 'edit']"
                                class="btn btn-primary btn-sm ml-1">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit.string">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'assertion', { outlets: { popup: assertion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm ml-1">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete.string">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="assertions?.length === 0">
        <div class="row justify-content-center">
            <p>{{ itemCount }}</p>
        </div>
        <div class="row justify-content-center" *ngIf="totalItems != null && totalItems > 0">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()"></ngb-pagination>
        </div>
    </div>
</div>
