<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assertion">
            <h1 class="mt-5" jhiTranslate="gatewayApp.assertionServiceAssertion.detail.title">Affiliation</h1>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <dl class="jh-entity-details">
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.email">Email</dt>
                    <dd class="col-md-9">
                        {{assertion.email}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.detail.org">Organization</dt>
                    <dd class="col-md-9">
                        {{assertion.orgName}}<br>
                        {{assertion.orgCountry}}<span *ngIf="assertion.orgRegion">, {{assertion.orgRegion}}</span><span *ngIf="assertion.orgCity">, {{assertion.orgCity}}</span><br>
                        {{assertion.disambiguationSource}} {{assertion.disambiguatedOrgId}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.affiliationSection">Affiliation Section</dt>
                    <dd class="col-md-9">
                        <span jhiTranslate="{{'gatewayApp.AffiliationSection.' + assertion.affiliationSection}}">{{assertion.affiliationSection}}</span>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.departmentName">Department Name</dt>
                    <dd class="col-md-9">
                        {{assertion.departmentName}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.roleTitle">Role Title</dt>
                    <dd class="col-md-9">
                        {{assertion.roleTitle}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.url">Url</dt>
                    <dd class="col-md-9">
                        {{assertion.url}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.startDate">Start Date</dt>
                    <dd class="col-md-9">
                        {{assertion.startYear}}<span *ngIf="assertion.startMonth">-{{assertion.startMonth}}</span><span *ngIf="assertion.startMonth&&assertion.startDay"></span>-{{assertion.startDay}}</span>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.endDate">End Date</dt>
                    <dd class="col-md-9">
                        {{assertion.endYear}}<span *ngIf="assertion.endMonth">-{{assertion.endMonth}}</span><span *ngIf="assertion.endMonth&&assertion.endDay"></span>-{{assertion.endDay}}</span>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.externalId">External Id</dt>
                    <dd class="col-md-9">
                        {{assertion.externalIdType}} <a *ngIf="assertion.externalIdUrl" href="{{assertion.externalIdUrl}}">{{assertion.externalId}}</a> <span *ngIf="!assertion.externalIdUrl">{{assertion.externalId}}</span>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.created">Created</dt>
                    <dd class="col-md-9">
                        {{assertion.created}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.modified">Modified</dt>
                    <dd class="col-md-9">
                        {{assertion.modified}}
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.status">Deleted From ORCID</dt>
                    <dd class="col-md-9">
                        <span *ngIf="assertion.putCode">In ORCID</span>
                        <span *ngIf="assertion.deletedFromORCID">Deleted by admin</span>
                        <span *ngIf="assertion.orcidError">Error</span>
                        <span *ngIf="!assertion.putCode && !assertion.deletedFromORCID && !assertion.orcidError">Pending</span>
                    </dd>
                    <dt class="col-md-3" jhiTranslate="gatewayApp.assertionServiceAssertion.adminId">Admin Id</dt>
                    <dd class="col-md-9">
                        {{assertion.ownerId}}
                    </dd>
                </dl>
            </div>
            <hr>
            <div class="mb-3">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-outline-primary">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button type="button"
                        [routerLink]="['/assertion', assertion.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>
