<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mt-3" jhiTranslate="settings.personalDetails.string">Personal details</h1>
			<hr />

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success.string">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.get('email').value" novalidate>
                <div class="form-group">
                    <label class="form-control-label" for="firstName" jhiTranslate="settings.form.firstname.label.string">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{'settings.form.firstname.placeholder.string' | translate}}"
                           formControlName="firstName">
                    <div *ngIf="settingsForm.get('firstName').invalid && (settingsForm.get('firstName').dirty || settingsForm.get('firstName').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.required" jhiTranslate="settings.messages.validate.firstname.required.string">
                            Your first name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.minlength" jhiTranslate="settings.messages.validate.firstname.minlength.string">
                            Your first name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength.string">
                            Your first name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName" jhiTranslate="settings.form.lastname.label.string">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder.string' | translate}}"
                           formControlName="lastName">
                    <div *ngIf="settingsForm.get('lastName').invalid && (settingsForm.get('lastName').dirty || settingsForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('lastName').errors.required" jhiTranslate="settings.messages.validate.lastname.required.string">
                            Your last name is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('lastName').errors.minlength" jhiTranslate="settings.messages.validate.lastname.minlength.string">
                            Your last name is required to be at least 1 character.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('lastName').errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength.string">
                            Your last name cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email.label.string">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder.string' | translate}}"
                           formControlName="email" readonly>

                </div>
                <div class="form-group" *ngIf="languages && languages.length > 0">
                    <label class="form-control-label" for="langKey" jhiTranslate="settings.form.language.string">Language</label>
                    <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
                        <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                    </select>
                </div>
                <button type="submit" [disabled]="settingsForm.invalid || settingsForm.pristine" class="btn btn-primary" jhiTranslate="settings.form.button.string">Save</button>
            </form>
            <hr />
            
			<form name="form" role="form" (ngSubmit)="saveMfa()"
				[formGroup]="mfaForm" *ngIf="settingsForm.get('email').value"
				novalidate>
				<h1 class="mt-3" jhiTranslate="settings.security.heading.string">Security</h1>
            	<hr />
				<div class="form-group">
					<label class="form-control-label" for="field_mfaEnabled"
						jhiTranslate="settings.security.mfa.string">Multi-factor
						Authentication</label> 
					<input type="checkbox" class="form-control"
						name="mfaEnabled" id="field_mfaEnabled"
						formControlName="mfaEnabled" (change)="mfaEnabledStateChange()" />
				</div>
            	<div *ngIf="showMfaUpdated" jhiTranslate="settings.security.mfaUpdated.string">MFA settings updated</div>
				<div class="row" *ngIf="showMfaSetup && !showMfaBackupCodes">
				    <div class="col-md-8">
						<p jhiTranslate="settings.security.mfaInstructions.string">Scan
							the QR code using your MFA app and enter the verification code
							below.</p>
						<a href="JavaScript:void(0);" (click)="toggleMfaTextCode()"
							jhiTranslate="settings.security.preferText.string">Prefer a
							text code?</a>
					</div>
				</div>
				<div class="row" *ngIf="showMfaSetup && !showMfaBackupCodes">
					<img [src]="safeQrCode()" />
				</div>	
				<div class="row" *ngIf="showMfaSetup && !showMfaBackupCodes">
				    <div class="col-md-8">
						<p *ngIf="showMfaTextCode">{{ mfaSetup.secret }}</p>
					</div>
				</div>
				<div class="form-group" *ngIf="showMfaSetup && !showMfaBackupCodes">
				    <div *ngIf="mfaSetupFailure" class="alert alert-danger" jhiTranslate="settings.security.otpError.string">
				        Incorrect verification code
				    </div>
					<input name="verificationCode" formControlName="verificationCode"
						placeholder="{{'settings.security.verificationCode.string' | translate}}" />
				</div>
				<div class="row" *ngIf="showMfaBackupCodes && showMfaSetup">
					<div class="col-md-8">
					    <p jhiTranslate="settings.security.backupCodes.string">Make a note of the following backup codes, this is the only time they will be shown.</p>
						<table>
							<tr *ngFor="let backupCode of mfaBackupCodes">
								<td>{{ backupCode }}</td>
							</tr>
						</table>
					</div>
				</div>
				<button [disabled]="mfaForm.pristine || showMfaBackupCodes" type="submit" class="btn btn-primary" jhiTranslate="settings.form.button.string">Save</button>
			</form>
			<hr />
		</div>
    </div>

</div>
