@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.navbar-title {
  line-height: 28px;
  vertical-align: bottom;
  font-size: 1.5rem;
  font-weight: normal;
  margin-right: 2px;
}

.navbar-beta {
  vertical-align: bottom;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .logo-img,
  .navbar-title {
    display: block;
    clear: both;
    float: left;
  }
}
